<app-header></app-header>
<section class="multi-stop">
    <div class="container">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <h2 class="thin-text"><span class="bold-darkblue-text">Search and Buy</span><br>
             <span class="bold-white-text"><b>Multi-City Flights</b></span></h2>
             <p class="biggerp">Search and buy multiple flights in one simple, secure transaction. Alternative Airlines provides flight comparisons for an infinite amount of multi-city combinations. Here's how you do it...</p>
          </div>
       </div>
    </div>
 </section>
 <!--/section1-->


 <section class="multi_city">
    <div class="container">
       <div class="row">
          <div class="col-md-10 offset-md-1">
             <h2 class="uppercase">What are multi-city flights?</h2>
             <img src="assets/images/multi-city-icons.png" width="100%" class="mb-5">
             <p class="biggerp">Multi-city flights allow you to hop around the world. Fancy a few days in Dubai on your way to Australia? Or a week beach bumming in Mexico on the way to Peru? Alternative Airline's multi-city flights allows you to <b>travel to more than one destination with only one search and purchase</b>. You can do a whirlwind 24 hour stopover or a few weeks somewhere new and exotic; the possibilities are endless. It's all about making the most of your bonus holiday time in an exotic destination, no matter how long you've got.</p>
             <br>
             <hr>
             <h2 class="uppercase">What are multi-city flights?</h2>
             <p class="biggerp">With multi-city flights, you're able to visit as many different cities or countries as you can in one trip and make the most out of your time away. Flying is the most time-efficient way of travelling long distances. Long drives and train journeys take up precious holiday hours that could be spent seeing more of the world.</p>
             <p class="biggerp">Multi-city flights are also cheaper than making several individual trips to the same area at different points in your life. If you're interested in seeing multiple destinations within a certain country or continent, multiple city flights allow you to do it all in one trip and in the most economical way.</p>
          </div>
       </div>
    </div>
 </section>
 <!--/section1-->


 <section class="multi_flight">
    <div class="container">
       <div class="row">
          <div class="col-md-10 offset-md-1">
             <h2 class="thin-text2"><span class="thin-how">How to book</span> <br>
             <span class="bold_text2"><b>multiple flights</b></span></h2><br>

             <h3 class="steps" >STEP <b>1</b></h3>
             <p class="biggerp">Just select 'Multi-City' at the top of the Alternative Airlines search panel and choose your preferred dates and destinations. It's as simple as that! You can criss-cross the entire world with multi-city flights or stay put in one country, it's completely up to you.</p>
             <br>
             <img src="assets/images/multi2.jpg" class="img-step">

             <h3 class="steps" >STEP <b>2</b></h3>
             <p class="biggerp">Browse through all of our flight results to find the combination of tickets that best suits you. Make the most of our filter features where you can choose from the amount of stops you take, which airlines you want to fly with or the amount of free baggage provided.</p>
             <br>
             <img src="assets/images/multi3.jpg" class="img-step">

             <h3 class="steps" >STEP <b>3</b></h3>
             <p class="biggerp">If you're happy with your multi-city flights, you can book the whole lot with Alternative Airlines straightaway in one quick, easy and secure transaction. Happy multi-city flight hunting!</p>
             <br>
             <img src="assets/images/multi1.jpg" class="img-step">

          </div>
       </div>
    </div>
 </section>

 <section class="multi_city">
    <div class="container">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <h2 class="thin-text"><span class="bold-darkblue-text">MULTI-STOP FLIGHTS TO</span><br>
             <span class="bold-white-text"><b>USA</b></span></h2>
             <p class="biggerp">With 50 different states to visit, multi-stop flights to USA can be as long or as short as you want. Whether you explore the West Coast stopping in Washington State, Las Vegas and Los Angeles, head down south to Texas, New Orleans and <a href="#">Miami</a>, or discover East Coast USA with New York, Connecticut and Washington.DC. Multi-stop flights to USA can be personalised and fly you to whichever US destinations you need to fulfil your travel dreams. You can even fulfill those travel dreams further by paying the cost of flights over time with <a href="#">Affirm</a>.</p>
             <p class="biggerp">If you're feeling extra adventurous, why not fly across the whole of the USA and visit all the major American cities on your travel wishlist? Or, take your multi-stop flights to America outside of the US and stop off in one of the big cities of USA's neighbouring countries, such as Toronto or Mexico City. </p>
          </div>
       </div>
    </div>
 </section>
 <!--/section1-->


 <section class="multi_flight">
    <div class="container">
       <div class="row">
          <div class="col-md-10 offset-md-1">
             <h2 class="thin-text2"><span class="thin-how">MULTI-STOP FLIGHTS TO</span> <br>
             <span class="bold_text2"><b>EUROPE</b></span></h2><br>
             <p class="biggerp">Taking&nbsp;multi-stop flights to Europe is a great way to see the continent. Generally, flight times within Europe aren't very long, so you can take&nbsp;multi-stop flights across Europe without having to fly for more than two hours per flight!</p>
             <p class="biggerp">If you'd like to add something extra to your&nbsp;multi-stop flights to Europe, bask in the sun in Europe's southernmost cities such as Lisbon, Porto, Barcelona, or Madrid and then head to North Africa to see Marrakesh!</p>
             <p class="biggerp">If you're travelling to Europe from the US, you can pay off your multi-stop flights on a monthly payment plan with <a href="#">Affirm</a>.</p>
          </div>
       </div>
    </div>
 </section>

 <section class="multi_city">
    <div class="container">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <h2 class="thin-text"><span class="bold-darkblue-text">MULTI-STOP FLIGHTS TO</span><br>
             <span class="bold-white-text"><b>AUSTRALIA</b></span></h2>
             <p class="biggerp">See all of Australia's major cities — Sydney, Melbourne, Brisbane, Perth, Adelaide and Cairns with multi-stop flights to Australia. And, with the gorgeous scenery of New Zealand only next door, it's easy to extend your trip and fly into Auckland, Wellington or Christchurch.</p>
             <p class="biggerp">When taking multi-stop flights to Australia, it's a great opportunity to see some of Southeast Asia too. Stop off in Bangkok, Hanoi or Phnom Penh either on the way or on the return.</p>
             <p class="biggerp">If you are looking to buy flights to Australia but want to pay off later in monthly instalments, you can see all the ways to pay for <a href="#">flights on finance</a> and <a href="#">airline ticket payment plans</a> with Alternative Airlines!<br>&nbsp;</p>
          </div>
       </div>
    </div>
 </section>
 <!--/section1-->

 <section class="multi_flight">
    <div class="container">
       <div class="row">
          <div class="col-md-10 offset-md-1">
             <h2 class="thin-text2"><span class="thin-how">CAN I BOOK</span> <br>
             <span class="bold_text2"><b>OPEN JAW FLIGHTS?</b></span></h2><br>
             <p class="biggerp">Yes, you can book open jaw flights with Alternative Airlines. Open jaw flights are airline tickets that fly you into one destination and fly you back from another, giving you the freedom to explore the country or continent in the way that best suits you</p>
             <p class="biggerp">Read more about open jaw flights on our <a href="#">open jaw flights page</a>.</p>
          </div>
       </div>
    </div>
 </section>


 <section class="multi-stop">
    <div class="container">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <h2 class="thin-text"><span class="bold-darkblue-text">VISIT MORE COUNTRIES</span><br>
             <span class="bold-white-text"><b>WITH STOPOVER FLIGHTS</b></span></h2>
            <br>
             <img src="assets/images/multicityblog.jpg" class="img-step">
              <p class="biggerp">How would you like to have a few extra holidays next year? With our 'multi-stop' option you can <b>visit multiple destinations all in one trip</b>. Whether you want to visit all the best cities in one country, or see a variety of countries in one continent, flying with multiple stops will allow you to see it all. For inspiration about how to plan the perfect multi-city flight combination, click on the button below to <b>read our blog post</b> on how to visit more countries with stopover flights!</p>
              <p class="biggerp"><a href="#">SEE MORE</a></p>
          </div>
       </div>
    </div>
 </section>
 <!--/section1-->

 <section class="multi_flight">
    <div class="container">
       <div class="row">
          <div class="col-md-10 offset-md-1">
             <h2 class="thin-text2"><span class="thin-how">BOOK WITH US</span> <br>
             <span class="bold_text2"><b>PAY YOUR WAY</b></span></h2>
             <p class="biggerp">Pay for flights in USD or <b><a href="#" target="_blank">160 other currencies</a></b> of your choice at no additional cost.</p>
             <p class="biggerp">Pay in US Dollar, Euro, Indian Rupee, Chinese Yuan; even Papua New Guinean Kina if that works for you!</p>
             <p class="biggerp"><a href="#"><strong>SEE ALL CURRENCIES</strong></a></p>
             <br>
             <p class="biggerp"><img src="assets/images/currencies-whyus.png"></p>
          </div>
       </div>
    </div>
 </section>


 <section class="multi_city">
    <div class="container">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <p class="biggerp">Choose from over 25&nbsp;payment methods, including <a href="#" target="_blank"><b>Paypal</b></a>, <a href="#" target="_blank"><b>Apple Pay</b>, </a><b><a href="#" target="_blank">Fly now Pay later</a>, <a href="#">Affirm</a>&nbsp;</b>and <b><a href="#" target="_blank">Alipay</a>&nbsp;</b>to pay for your flights with Alternative Airlines.</p>
             <p class="biggerp"><strong><a href="#">SEE ALL W</a></strong><a href="#"><strong>AYS TO PAY FOR FLIGHTS</strong></a></p>
          </div>
       </div>
       <br>
       <br>
       <div class="row">
          <div class="col"><img src="assets/images/pay_logo/paypal-list.png" width="100%"></div>
          <div class="col"><img src="assets/images/pay_logo/applepay-list.png" width="100%"></div>
          <div class="col"><img src="assets/images/pay_logo/alipay-list.png" width="100%"></div>
          <div class="col"><img src="assets/images/pay_logo/googlepay-list.png" width="100%"></div>
          <div class="col"><img src="assets/images/pay_logo/tigo-list.png" width="100%"></div>
          <div class="col"><img src="assets/images/pay_logo/flynowpaylater-list.png" width="100%"></div>
       </div>
    </div>
 </section>
 <!--/section1-->

  <section class="multi_flight">
    <div class="container">
       <div class="row">
          <div class="col-md-10 offset-md-1">
            <p class="biggerp"><b>Search and Buy Flights with Alternative Airline's Best Fare Finder</b></p>
             <p class="biggerp">Find some amazing deals when you use Alternative Airline's <a href="#">Best Fare Finder</a>. For cheap air tickets, give Best Fare Finder a go. Browse the most popular flights and find the best fares for your chosen destinations. Search for flights to multiple cities and buy flights in one quick, easy and direct transaction. Use our Best Fare Finder and save big!</p>
          </div>
       </div>
    </div>
 </section>
<app-footer></app-footer>
