<app-header></app-header>
<section class="multi-stop">
    <div class="container">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <h2 class="thin-text"><span class="bold-darkblue-text">BEST FARE FINDER</span><br>
             <span class="bold-white-text"><b>FIND CHEAP AIR TICKETS FASTER</b></span></h2>
             <p class="biggerp_gfd">Use Alternative Airline's Best Fare Finder to search and buy the cheapest flights in one simple, secure transaction.</p>
          </div>
       </div>
    </div>
</section>
<!--/section1-->

 <section class="multi_flight">
    <div class="container">
       <div class="row">
          <div class="col-md-10 offset-md-1">
             <h3 class="steps" ><b>ACCEPTED CURRENCIES</b></h3>
             <h3 class="text-center">Book using the currency of your choice</h3>
             <br>
             <p class="text-center"><img src="assets/images/currencies-whyus.png"></p>
             <br>
             <p class="text-center">We listened to your feedback and we have now expanded the number of currencies you can pay with. You can now pay in the currency of your choice, from anywhere in the world when booking with Alternative Airlines. We accept the currencies shown below:</p>
          </div>

          <div class="col-md-10 offset-md-1">
            <table class="table table-borderless">
                <tbody>
                    <tr class="uppercase bold-darkblue-text" height="80px">
                        <th>Flag</th>
                        <th>Currency Name</th>
                        <th>ISO Code</th>
                        <th>Symbol</th>
                    </tr>
                    <tr>
                        <td><img src="assets/images/c_flags/aed.webp" alt="AED"></td>
                        <td><a href="#">Emirati Dirham</a></td>
                        <td>AED</td>
                        <td>د.إ</td>
                    </tr>
                    <tr>
                        <td><img src="assets/images/c_flags/afn.webp" alt="AFN" ></td>
                        <td>Afghan Afghani</td>
                        <td>AFN</td>
                        <td>AFN</td>
                    </tr>
                    <tr>
                        <td><img src="assets/images/c_flags/all.webp" alt="ALL" ></td>
                        <td><a href="#">Albanian Lek</a></td>
                        <td>ALL</td>
                        <td>L</td>
                    </tr>
                    <tr>
                        <td><img src="assets/images/c_flags/amd.webp" alt="AMD"></td>
                        <td>Armenian Dram</td>
                        <td>AMD</td>
                        <td>AMD</td>
                    </tr>
                    <tr>
                        <td><img src="assets/images/c_flags/ang.webp" alt="ANG"></td>
                        <td>Netherlands Antilles Guilder</td>
                        <td>ANG</td>
                        <td>ƒ</td>
                    </tr>
                    <tr>
                        <td><img src="assets/images/c_flags/aoa.webp" alt="AOA"></td>
                        <td>Angolan Kwanza</td>
                        <td>AOA</td>
                        <td>Kz</td>
                    </tr>
                    <tr>
                        <td><img src="assets/images/c_flags/ars.webp" alt="ARS"></td>
                        <td><a href="#">Argentine Peso</a></td>
                        <td>ARS</td>
                        <td>$</td>
                    </tr>
                    <tr>
                        <td><img src="assets/images/c_flags/aud.webp" alt="AUD"></td>
                        <td><a href="#">Australian Dollar</a></td>
                        <td>AUD</td>
                        <td>$</td>
                    </tr>
                    <tr>
                        <td><img src="assets/images/c_flags/awg.webp" alt="AWG"></td>
                        <td>Aruba Guilder</td>
                        <td>AWG</td>
                        <td>ƒ</td>
                    </tr>
                    <tr>
                        <td><img src="assets/images/c_flags/azn.webp" alt="AZN"></td>
                        <td>Azerbaijan Manat</td>
                        <td>AZN</td>
                        <td>₼</td>
                    </tr>
                    <tr>
                        <td><img src="assets/images/c_flags/bam.webp" alt="BAM"></td>
                        <td>Bosnian Convertible Marka</td>
                        <td>BAM</td>
                        <td>KM</td>
                    </tr>
                    <tr>
                        <td><img src="assets/images/c_flags/bbd.webp" alt="BBD"></td>
                        <td><a href="#">Barbadian Dollar</a></td>
                        <td>BBD</td>
                        <td>$</td>
                    </tr>
                    <tr>
                        <td><img src="assets/images/c_flags/bdt.webp" alt="BDT"></td>
                        <td><a href="#">Bangladeshi Taka</a></td>
                        <td>BDT</td>
                        <td>৳</td>
                    </tr>
                    <tr>
                        <td><img src="assets/images/c_flags/bgn.webp" alt="BGN" ></td>
                        <td><a href="#">Bulgarian Lev</a></td>
                        <td>BGN</td>
                        <td>лв.</td>
                    </tr>
                </tbody>
            </table>
          </div>
       </div>
    </div>
 </section>

 <section class="psheet">
    <div class="container">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <h3 class="thin-text"><span class="bold-white-text"><b>Multi-City Flights</b></span></h3>
             <p class="biggerp">Alternative Airlines offers over <a target="_blank" href="#"><b>Over 25 different payment methods</b></a> to choose from. Select your flights in <b>160 different currencies</b> and pay with your preferred payment method.</p>
             <br>
             <p class="text-center"><img src="assets/images/pagespeed.jpg" alt="BGN" width="100%"></p>
             <br>
             <p class="biggerp">Alternative Airlines is an online flight search complete with customer service specialising in booking flights on lesser known airlines and to remote destinations. We offer you a <a href="#" target="_blank"><b>wider choice of airlines</b></a> supported by a team of <a target="_blank" href="#"><b>customer service</b></a> and travel specialists for help and advice on your travel plans. We specialise in finding the <b>best available fares</b> on the widest range of airlines and making them available to you online, with prices in the currency of your choice.</p>

            <br>

             <p class="biggerp">Alternative Airlines handles all your travel arrangements and payments, complete with ticketed confirmation. <b>We do not direct you to other websites</b> or service providers. We help you through the process. This is what makes us Alternative Airlines. <a href="#" target="_blank"><b>Check out our reviews</b></a> on <a href="#" target="_blank"><b>Feefo</b></a> or our reviews page. If you want to know a little bit more about us, <a target="_blank" href="#"><b>read our blog</b></a> for our alternative travel secrets and stories. Browse for flights, find some amazing deals, make a reservation and pay in the currency of your choice today with Alternative Airlines. Let Alternative Airlines help find you the best prices and make international and domestic flight reservations with us today.</p>

          </div>
       </div>
    </div>
 </section>
<app-footer></app-footer>
