<app-header></app-header>

<section class="nice_c_u">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h3 class="nice_title">Nice to see you back</h3>
        <h4 class="n_t_y"><img src="assets/images/dashboard/last-search.png" width="25px"> <span>Last search</span> <a href="#">RESUME</a> <a href="#">NEW SEARCH</a></h4>
      </div>
      <div class="col-2">
        <div class="profile-image">
          <img src="assets/images/dashboard/profile_images.jpg" class="upload_images">
          <div class="edit_profile_name">Change</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="dashboard_section">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link rounded-0 active" id="v-pills-home-tab" data-toggle="pill" href="#dashboard" role="tab" aria-controls="v-pills-home" aria-selected="true">Dashboard</a>
            <a class="nav-link rounded-0" id="v-pills-profile-tab" data-toggle="pill" href="#flights" role="tab" aria-controls="v-pills-profile" aria-selected="false">Flights</a>
            <a class="nav-link rounded-0" id="v-pills-messages-tab" data-toggle="pill" href="#travellers" role="tab" aria-controls="v-pills-messages" aria-selected="false">Travellers</a>
            <a class="nav-link rounded-0" id="v-pills-settings-tab" data-toggle="pill" href="#my_profile" role="tab" aria-controls="v-pills-settings" aria-selected="false">My Profile</a>
            <a class="nav-link rounded-0" id="v-pills-settings-tab" data-toggle="pill" href="#ways_to_pay" role="tab" aria-controls="v-pills-settings" aria-selected="false">Ways to pay</a>
          </div>
          <br>
          <div class="planning_trip">
            <p>Planning a trip to</p>
            <img src="assets/images/dashboard/holiday-essentials.jpg" class="img-fluid">
            <p class="padding">More flights and better prices with Alternative Airlines.</p>
            <a href="#"><button class="transparent-bg">View flights</button></a>
          </div>
        </div><!--/col-3-->

        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade rounded-0 show active" id="dashboard" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <h2 class="dashboard_title">Dashboard</h2>
              <div class="row">
                <div class="col-6 col-md-3">
                  <a href="#">
                    <div class="card_a">
                      <img src="assets/images/dashboard/upcoming-flights.svg" class="flat_icons">
                      <p>Flight</p>
                      <button class="view_btn">View</button>
                    </div>
                  </a>
                </div><!--/col-md-3-->
                <div class="col-6 col-md-3">
                  <a href="#">
                    <div class="card_a">
                      <img src="assets/images/dashboard/edit-profile.svg" class="flat_icons">
                      <p>Edit your profile</p>
                      <button class="view_btn">View</button>
                    </div>
                  </a>
                </div><!--/col-md-3-->
                <div class="col-6 col-md-3">
                  <a href="#">
                    <div class="card_a">
                      <img src="assets/images/dashboard/seats.svg" class="flat_icons">
                      <p>Seat selection</p>
                      <button class="view_btn">View</button>
                    </div>
                  </a>
                </div><!--/col-md-3-->
                <div class="col-6 col-md-3">
                  <a href="#">
                    <div class="card_a">
                      <img src="assets/images/dashboard/travellers.svg" class="flat_icons">
                      <p>Travellers</p>
                      <button class="view_btn">View</button>
                    </div>
                  </a>
                </div><!--/col-md-3-->
                <div class="col-6 col-md-3">
                  <a href="#">
                    <div class="card_a">
                      <img src="assets/images/dashboard/faqs.svg" class="flat_icons">
                      <p>FAQ's</p>
                      <button class="view_btn">View</button>
                    </div>
                  </a>
                </div><!--/col-md-3-->
                <div class="col-6 col-md-3">
                  <a href="#">
                    <div class="card_a">
                      <img src="assets/images/dashboard/ways-to-pay.svg" class="flat_icons">
                      <p>Ways to pay</p>
                      <button class="view_btn">View</button>
                    </div>
                  </a>
                </div><!--/col-md-3-->
                <div class="col-6 col-md-3">
                  <a href="#">
                    <div class="card_a">
                      <img src="assets/images/dashboard/account-guide.svg" class="flat_icons">
                      <p>Account guide</p>
                      <button class="view_btn">View</button>
                    </div>
                  </a>
                </div><!--/col-md-3-->
              </div><!--/row-->
            </div><!--/tabs1-->

            <div class="tab-pane fade" id="flights" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <h2 class="dashboard_title">Flights</h2>
              <div class="flights">
                <h2 class="title_h2">It's looking a little empty in here...</h2>
                <p class="title_p">Let's fix that for you</p>
                <a class="search-form"><button class="search_flights">Search for flights</button></a>
              </div>
            </div><!--/tabs2-->

            <div class="tab-pane fade" id="travellers" role="tabpanel" aria-labelledby="v-pills-messages-tab">
              <h2 class="dashboard_title">Flights</h2>
              <div class="travellers">
                <h2 class="title_h2">It's looking a little empty in here...</h2>
                <p class="title_p">If you regularly travel with friends or family, add them below</p>
                <a class="search-form"><button class="search_flights">Search for flights</button></a>
              </div>
              <a href="#">
                <div class="add_traveller"><i class="fa fa-plus "></i>&nbsp;&nbsp; Add a traveller</div>
              </a>
            </div><!--/tabs3-->

            <div class="tab-pane fade" id="my_profile" role="tabpanel" aria-labelledby="v-pills-settings-tab">
              <h2 class="dashboard_title">Profile</h2>
              <div class="profile_editor">
                <div class="left_box">
                  <div class="n_ame">Your name</div>
                  <div class="i_d"></div>
                </div>
                <div class="right_box"><a href="#"><i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;&nbsp; Edit</a></div>
              </div><!--/profile_editor-->
              <div class="profile_editor">
                <div class="left_box">
                  <div class="n_ame">Email</div>
                  <div class="i_d">digitalalam94@gmail.com</div>
                </div>
                <div class="right_box"><a href="#"><i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;&nbsp; Edit</a></div>
              </div><!--/profile_editor-->
              <div class="profile_editor">
                <div class="left_box">
                  <div class="n_ame">Phone number</div>
                  <div class="i_d"></div>
                </div>
                <div class="right_box"><a href="#"><i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;&nbsp; Edit</a></div>
              </div><!--/profile_editor-->
              <div class="profile_editor">
                <div class="left_box">
                  <div class="n_ame">Password</div>
                  <div class="i_d">*********</div>
                </div>
                <div class="right_box"><a href="#"><i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;&nbsp; Edit</a></div>
              </div><!--/profile_editor-->
              <div class="profile_editor">
                <div class="left_box">
                  <div class="n_ame">Frequent flyer</div>
                  <div class="i_d"></div>
                </div>
                <div class="right_box"><a href="#"><i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;&nbsp; Edit</a></div>
              </div><!--/profile_editor-->
              <div class="profile_editor">
                <div class="left_box">
                  <div class="n_ame">Seat and Meal preferences</div>
                  <div class="i_d"></div>
                </div>
                <div class="right_box"><a href="#"><i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;&nbsp; Edit</a></div>
              </div><!--/profile_editor-->
              <div class="profile_editor">
                <div class="left_box">
                  <div class="n_ame">Assistance</div>
                  <div class="i_d"></div>
                </div>
                <div class="right_box"><a href="#"><i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;&nbsp; Edit</a></div>
              </div><!--/profile_editor-->
              <div class="profile_editor">
                <div class="left_box">
                  <div class="n_ame"><b>Exclusive offers:</b></div>
                  <div class="i_d">Get access to last-minute deals and exclusive promotions.</div>
                </div>
                <div class="right_box"><a href="#"><i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;&nbsp; Edit</a></div>
              </div><!--/profile_editor-->
              <div class="profile_editor">
                <div class="left_box">
                  <div class="n_ame">I would like to delete my account</div>
                  <div class="i_d"></div>
                </div>
                <div class="right_box"><a href="#"><i class="fa fa-trash-o fa-lg"></i>&nbsp;&nbsp; Delete</a></div>
              </div><!--/profile_editor-->

            </div><!--/tabs4-->

            <!-- <div class="tab-pane fade" id="ways_to_pay" role="tabpanel" aria-labelledby="v-pills-settings-tab">5...</div>   -->
            
          </div>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>