<app-header></app-header>
<section class="review1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alt_review">
                    <h4><span class="wt_say">WHAT PEOPLE SAY ABOUT</span> <span class="a_airlines"> ALTERNATIVE AIRLINES </span></h4>
                    <p><img src="assets/images/review/Review_Person_Icon.png"></p><br>
                    <div class="rating_a">
                        <img src="assets/images/review/Feefo_icon_2.png">
                        <img src="assets/images/review/Trustpilot_Icon_New_Small.png">
                    </div>
                    <br>
                    <img src="assets/images/review/Feefo_trusted_banner_small.png">
                </div>
            </div>
        </div>
    </div>
</section>

 <section class="a_airlines2">
    <div class="container">
         <div class="row">
            <div class="col-md-12">
                <h2 class="a_few_word">A FEW WORDS <br> <span class="sub_tl">FROM YOU</span></h2>

                <div class="review_box">
                    <p class="mb-4">
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                    </p>
                    <h3 class="quote"><span class="big-comma"><i>“</i> </span> Wonderful! <span class="big-comma"><i>”</i></span></h3>
                    <p class="greytext smallerp">Great website, simple to checkout!</p>
                    <p class="greytext smallerp">&nbsp;</p>
                    <p class="greytext smallerp"><em>28th September 2019</em></p>
                </div><!---/review_box-->

                <div class="review_box">
                    <p class="mb-4">
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                    </p>
                    <h3 class="quote"><span class="big-comma"><i>“</i> </span> I like the multiple payment gateways, especially PayPal. <span class="big-comma"><i>”</i></span></h3>
                    <p class="greytext smallerp">I like the multiple payment gateways especially PayPal.</p>
                    <p class="greytext smallerp">&nbsp;</p>
                    <p class="greytext smallerp"><em>27th September 2019</em></p>
                </div><!---/review_box-->

                <div class="review_box">
                    <p class="mb-4">
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                    </p>
                    <h3 class="quote"><span class="big-comma"><i>“</i> </span> Excellent service. <span class="big-comma"><i>”</i></span></h3>
                    <p class="greytext smallerp">Quick response.</p>
                    <p class="greytext smallerp">&nbsp;</p>
                    <p class="greytext smallerp"><em>26th September 2019</em></p>
                </div><!---/review_box-->

                <div class="review_box">
                    <p class="mb-4">
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                        <i class="fa fa-star fa-lg f_star"></i>
                    </p>
                    <h3 class="quote"><span class="big-comma"><i>“</i> </span> I booked a ticket for a friend of mine... <span class="big-comma"><i>”</i></span></h3>
                    <p class="greytext smallerp">I made a mistake on the DOB I reached out to them via whatsapp and they were very responsive and the issue was fix in few minutes. It was great to see that can also assist people via whatsapp I couldn’t call their direct lines as it was a UK number and I leave in the US.</p>
                    <p class="greytext smallerp">&nbsp;</p>
                    <p class="greytext smallerp"><em>25th September 2019</em></p>
                </div><!---/review_box-->

            </div>
         </div><!---/row-->
    </div>
  </section>
<app-footer></app-footer>