<app-header></app-header>

<!--section2-->
<section class="title_section">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h2 class="text-white text-center">Welcome to our agents hub</h2>
             <br><br>
             <p class="text-white text-center">Discover the benefits of creating a free travel agents account with Alternative Airlines, and sign up today.</p>
          </div>
       </div>
    </div>
 </section>
 <!--/section2-->


   <!-- feature-section -->
   <section class="section feature-section" id="features">
     <div class="container">
       <div class="row">
         <div class="col-lg-12 col-md-12 mx-auto text-center">
           <h1 class="section-heading text-uppercase">REASONS TO BOOK WITH ALTERNATIVE AIRLINES</h1>
         </div>
       </div>
       <div class="row">
         <div class="col-lg-4 col-md-4 mt-5 text-center d-flex">
           <div class="feature-column">
             <div class="icon"><img src="assets/images/feature/1.png"></div>
             <p>Use our easy online booking system to book flights quickly & securely.</p>
           </div>  
         </div>
         <div class="col-lg-4 col-md-4 mt-5 text-center d-flex">
           <div class="feature-column">
             <div class="icon"><img src="assets/images/feature/2.png"></div>
             <p>Dedicated customer service team on hand to help.</p>
           </div>  
         </div>
         <div class="col-lg-4 col-md-4 mt-5 text-center d-flex">
           <div class="feature-column">
             <div class="icon"><img src="assets/images/feature/3.png"></div>
             <p>Choose from over 160 currencies and 25 payment methods.</p>
           </div>  
         </div>
         <div class="col-lg-4 col-md-4 mt-5 text-center d-flex">
           <div class="feature-column">
             <div class="icon"><img src="assets/images/feature/4.png"></div>
             <p>Experience better flights & connections with more than 600 airlines worldwide.</p>
           </div>  
         </div>
         <div class="col-lg-4 col-md-4 mt-5 text-center d-flex">
           <div class="feature-column">
             <div class="icon"><img src="assets/images/feature/5.png"></div>
             <p>Use our multi-stop booking tool to discover multiple destinations in a single trip.</p>
           </div>  
         </div>
         <div class="col-lg-4 col-md-4 mt-5 text-center d-flex">
           <div class="feature-column">
             <div class="icon"><img src="assets/images/feature/6.png"></div>
             <p>Competitive prices on over 600 airlines worldwide.</p>
           </div>  
         </div>
       </div>
     </div>
   </section>
   <!-- feature-section -->

  <section class="we_ticket">
    <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 mx-auto text-center">
           <h1 class="section-heading text-uppercase">WE TICKET OVER 600 AIRLINES</h1>
         </div>
       </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 mt-5 text-center d-flex">
          <p>Alternative Airlines is committed to providing a wider choice of flights: we offer competitive prices on over 600 airlines—and growing. We ticket airlines worldwide, which means booking connections is easy.<br><br>Our multi-stop booking tool means booking multiple destinations in one trip has never been simpler. You can use our search bar below to discover all the airlines we ticket.</p>
          
        </div>
        <div class="col-lg-4 col-md-4 mt-5 text-center d-flex"></div>
        <div class="col-lg-4 col-md-4 mt-5 text-center d-flex">
          <p>Across the globe, we offer flights on all major airlines, including American Airlines, Delta Air Lines, Southwest Airlines, United Airlines, Ryanair, and China Southern Airlines. <br><br>We also ticket flights on smaller regional airlines, such as Emetebe Airlines in the Galapagos Isles. Book flights easily, in English, and with a dedicated customer service team to help.</p>
          
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-4 mt-5 text-center"><img src="assets/images/feature/logo1.png" width="100%"></div>
        <div class="col-sm-4 col-md-4 mt-5 text-center"><img src="assets/images/feature/logo2.png" width="100%"></div>
        <div class="col-sm-4 col-md-4 mt-5 text-center"><img src="assets/images/feature/logo3.png" width="100%"></div>
      </div>
    </div>
  </section>
  <!-- feature-section -->

  <section class="c_which">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto text-center">
           <h1 class="section-heading text-uppercase">CHECK WHICH AIRLINES WE TICKET</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search Airlines">
          </div>
        </div>
      </div>
    </div>
  </section><!-- c_which-section -->

  <section class="create_acc">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card pd-5">
            <div class="card-body">
              <h2 class="section-heading text-uppercase text-center">CREATE AN ACCOUNT</h2>
              <p class="ta-sign-up__para text-center">Take advantage of our quick and secure booking system, and create a free travel agents account with Alternative Airlines. Creating and using your account is easy, and our experienced customer service team are here to help and support you every step of the way. <br><br>Travel agents who make 3 or more bookings in 3 months are able to save card details when making a booking, to be able to make faster payments in the future. Because of Alternative Airlines’ partnership with Braintree, saved payment details are 100% secure. Via the 'Braintree Vault' feature, payment data is kept safe through secure encrypt</p>

              <br>
              <form>
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
              </form>
              <br>

              <div class="ta-sign-up__buttons" align="ceneter">
                  <button class="btn btn-primary" style="width: 200px;">Sign up</button>
                  <b class="ta-sign-up__divider">Or</b>
                  <a href="#" class="btn btn-xsm gsp2"><img src="assets/images/g-icon.png" width="20px"> Sign up with Google</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/create_acc-->

  <section class="payment-method">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 mx-auto text-center mb-5">
             <h1 class="section-heading text-uppercase text-white">WE ACCEPT THESE PAYMENT METHODS</h1>
          </div>
        </div>
    
         <div class="col-md-12">
          <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
            <!-- <div class="item" *ngFor="let image of mySlideImages;let i = index">
              <div>
                <img src={{image}}/>
              </div>
            </div> -->
          
          
            <div class="item"><div class="payment_log"><img src="assets/images/payment/affirm.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/airtel.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/alipay.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/alipayuk.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/amazonpay.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/americanexpress.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/applepay.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/creditcard.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/dinersclub.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/discover.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/flynowpaylater.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/giropay.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/googlepay.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/jcb.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/masterpass.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/mpesa.svg" alt="Owl Image" width="100%"></div> </div>
            <div class="item"><div class="payment_log"><img src="assets/images/payment/mtn.svg" alt="Owl Image" width="100%"></div> </div>
          </owl-carousel>
        </div> 

      <div class="row">
        <div class="col-md-6 offset-md-3">
          <br><br>
          <p class="text-white text-center">Alternative Airlines offer over 25 international payment methods through our partnerships with all the big names within e-commerce. Alternative Airlines has a dedicated partnership with PayPal, focused on providing an easy option for customers. From Indian Rupee to Croatian Kuna, there is also the option to pay in more than 70 currencies, as well as localised payment methods: Giropay in Germany and Poli in Australia, for example, through which payments can be made through internet banking</p>
        </div>
      </div>
    </div>
  </section>
  <!--/payment-method-->

  <section class="faq">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto text-center mb-5">
          <h1 class="section-heading">FAQs</h1>
        </div>
        <div class="col-4 t-pd offset-md-2">
          <h5>Some common FAQs</h5>
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-4 t-pd offset-md-2">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link t-fz active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">After I make a reservation, how long will it be until I receive my e-ticket?</a>
            <a class="nav-link t-fz" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Am I eligible to create a travel agent's account?</a>
            <a class="nav-link t-fz" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">What are the benefits of creating a travel agents account?</a>
          </div>
        </div>
        <div class="col-4 t-pd">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <div class="faq-box">
              <i class="fa fa-caret-left" style="position: absolute;font-size: 40px;color: #fff;left: -13px;"></i>
                Your e-ticket will arrive as soon as possible, and can take up to 12 hours to arrive. The distribution of e-tickets is overseen by our experienced Customer Service team, who are always on-hand to help and answer any questions. Our helpdesk is open 8am-8pm GMT. If you contact us out of these hours, our team will prioritise your communication when they are back in the office.
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <div class="faq-box">
              <i class="fa fa-caret-left" style="position: absolute;font-size: 40px;color: #fff;left: -13px;bottom: 20px;"></i>
                We welcome travel agents of any size, from anywhere in the world, to create an account with us. If you have any questions, don’t hesitate to send us a message using the form below. Our dedicated customer services team will respond to you as soon as they can.
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
              <div class="faq-box">
              <i class="fa fa-caret-left" style="position: absolute;font-size: 40px;color: #fff;left: -13px;bottom: 38px;"></i>
                Our online booking system is quick and easy to use, and our experienced team are on hand to support you. By creating a free account you can manage your bookings easily: log in and quickly access the details of all of your upcoming flight reservations, including e-tickets. With over 600 airlines to choose from, Alternative Airlines can provide your customers with a wider choice of flights, from all the major carriers to smaller regional airlines around the world.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/faq-->

  <section class="customer_s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto text-center mb-5">
           <h1 class="section-heading text-uppercase">OUR CUSTOMER SERVICES REPRESENTATIVES</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-8 t-pd offset-md-2">
          <owl-carousel [options]="mySlideOptions2" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
            <div class="item">
              <img class="tab_customer" src="assets/images/clients1.jpg">
              <p>Paula</p>
              <p> - </p>
              <p>I have worked in travel customer service for over 25 years. I have just recently joined Alternative Airlines and am looking forward to my new customer service role. I have vast travel experience and been lucky to see some amazing sights all over the world. </p>
            </div>
            <div class="item">
              <img class="tab_customer" src="assets/images/clients1.jpg">
              <p>Paula</p>
              <p> - </p>
              <p>I have worked in travel customer service for over 25 years. I have just recently joined Alternative Airlines and am looking forward to my new customer service role. I have vast travel experience and been lucky to see some amazing sights all over the world. </p>
            </div>
            <div class="item"><img class="tab_customer" src="assets/images/clients1.jpg">
              <p>Paula</p>
              <p> - </p>
              <p>I have worked in travel customer service for over 25 years. I have just recently joined Alternative Airlines and am looking forward to my new customer service role. I have vast travel experience and been lucky to see some amazing sights all over the world. </p>
            </div>
          </owl-carousel>
          <!-- <div class="customNavigation">
            <a class="btn prev"><i class="fa fa-chevron-left fa-2x text-white"></i></a>
            <a class="btn next"><i class="fa fa-chevron-right fa-2x text-white"></i></a>
          </div> -->
        </div><!--/col-md-12-->
      </div>
    </div>
  </section>
  <!--/customer_s-->


  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto text-center mb-5">
           <h1 class="section-heading">Contact</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-8 t-pd offset-md-2">
          <form>
            <div class="form-group">
              <label for="name">Name *</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="email">Email *</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Reason for your enquiry *</label>
              <select id="inputState" class="form-control">
                <option selected>Text here</option>
                <option>Text here</option>
                <option>Text here</option>
                <option>Text here</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Comment">Comment *</label>
              <textarea class="form-control" id="Comment" rows="1"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>


<app-footer></app-footer>