<app-header></app-header>
<div class="path1">
    <div class="container">
      <div class="col-md-12"><span class="home_path"> <a href="#">Home</a> > Airlines we can ticketAirlines we can ticket</span></div>
    </div>
  </div>

  <img src="assets/images/why_use.webp" width="100%">

    <section class="multi_flight">
      <div class="container">
         <div class="row">
            <div class="col-md-10 offset-md-1">
                <h2 class="thin-text2"><span class="bold_text2">YOU CAN'T FIND ANYWHERE ELSE</span><br><span class="thin-how">FIND FLIGHTS</span></h2><br>
                <p class="text-center"><img src="assets/images/floc.webp"></p> 
                <p class="steps">Whether you are looking to <b>travel off the beaten track</b>,
                a complex multi-city itinerary or simply a 
                <b>large range of arrival-departure times and prices</b>, we can help find the flights that best suit you.</p>
                <br>
                <img src="assets/images/why-use-us-video.jpg" width="100%">
                <br>
                <br>
                <p class="steps">With over <b><a href="#" target="_blank">600 airlines</a></b> to choose from, we are committed to providing you with a <b>wider choice of flights</b>, getting you closer to your dream holiday.</p>
                <br><br><br>
                <h2 class="thin-text2"><span class="thin-how">BOOK WITH US</span><br><span class="bold_text2">PAY YOUR WAY</span></h2><br>
                <p class="steps">Pay for flights in over <b><a href="#" target="_blank">160 different currencies</a></b> at no additional cost.</p>
                <p class="steps">Pay in US Dollar, Euro, Indian Rupee, Chinese Yuan; even Papua New Guinean Kina if that works for you!</p>
                <p class="text-center"><img src="assets/images/currencies-whyus.png"></p>
                <p class="text-center"><a href="#" class="s_m">See more</a></p> 
            </div>
         </div>
      </div>
   </section>


   <section class="multi_city">
      <div class="container">
         <div class="row">
            <div class="col-md-8 offset-md-2">
               <p class="biggerp">Choose from over 25&nbsp;payment methods, including <a href="#" target="_blank"><b>Paypal</b></a>, <a href="#" target="_blank"><b>Apple Pay</b>, </a><b><a href="#" target="_blank">Fly now Pay later</a>, <a href="#">Affirm</a>&nbsp;</b>and <b><a href="#" target="_blank">Alipay</a>&nbsp;</b>to pay for your flights with Alternative Airlines.</p>
               <p class="biggerp"><strong><a href="#">SEE ALL W</a></strong><a href="#"><strong>AYS TO PAY FOR FLIGHTS</strong></a></p>
            </div>
         </div>
         <br>
         <br>
         <div class="row">
            <div class="col"><img src="assets/images/pay_logo/paypal-list.png" width="100%"></div>
            <div class="col"><img src="assets/images/pay_logo/applepay-list.png" width="100%"></div>
            <div class="col"><img src="assets/images/pay_logo/alipay-list.png" width="100%"></div>
            <div class="col"><img src="assets/images/pay_logo/googlepay-list.png" width="100%"></div>
            <div class="col"><img src="assets/images/pay_logo/tigo-list.png" width="100%"></div>
            <div class="col"><img src="assets/images/pay_logo/flynowpaylater-list.png" width="100%"></div>
         </div>
      </div>
   </section>
   <!--/section1-->

    <section class="multi_flight">
      <div class="container">
         <div class="row">
            <div class="col-md-10 offset-md-1">
                <h2 class="thin-text2"><span class="bold_text2">ENJOY THE JOURNEY</span><br><span class="thin-how">WE'LL TAKE CARE OF THE REST</span></h2><br>
                <p class="steps">We won’t send you off to any other website to complete your booking. We’ll do it all for you <b>quickly, securely and directly</b>.</p>
                <p class="text-center"><img src="assets/images/en_j.webp" width="100%"></p> 
                <p class="steps">Our <b>expert customer support</b> centre is only a phone call away. Whatever you need, whether it’s a flight change or a sudden need for additional luggage, your queries and requests are in very capable hands.</p>
                <p class="steps"><b>Call us from 8:00am-8:00pm GMT every day of the week</b></p>
                <p class="text-center"><a href="#" class="s_m">See more</a></p> 
            </div>
         </div>
      </div>
    </section>

    <section class="o_story">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h2 class="thin-text2"><span style="color: #74b9ff">THIS IS</span><br><span class="thin-how" style="color: #ffffff">OUR STORY</span></h2>
            <br>
            <p class="text-center">
              <img src="assets/images/ourstory.png" width="100%">
            </p>
          </div>
        </div> 
      </div>
    </section>
<app-footer></app-footer>
