<app-header></app-header>

<div class="nav-scroller nav2">
    <div class="container">
      <nav class="nav d-flex justify-content-between">
        <span class="m_c1"><a href="#"> Media<br> Centre </a></span>
        <a class="p-2 text-muted" href="#">Home</a>
        <a class="p-2 text-muted" href="#">Press Releases</a>
        <a class="p-2 text-muted" href="#">Latest news</a>
        <a class="p-2 text-muted" href="#">Media</a>
        <a class="p-2 text-muted" href="#">Images</a>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </form>
      </nav>
    </div>
  </div><!--/nav-->

  <section class="m-centre">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="media_c">
            <i class="fa fa-tags fa-2x"></i><br><br>
            <h1>Media Centre</h1>
            <br>
            <div class="m_divider"></div>
            <p>Explore the latest news and press releases from Alternative Airlines, access resources and download the Alternative Airlines media pack.</p>
            <div class="m_divider"></div>
            <p>SCROLL DOWN</p>
            <div class="m_divider"></div><br>
            <a href="#"> <i class="fa fa-arrow-down fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="t_stories">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Top stories</h1>
          <div class="content_box3">
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <h4>Alternative Airlines named as one of the fastest growing tech companies in the UK</h4>
                <p>Alternative Airlines has been announced as one of the fastest growing tech companies in the UK by The Sunday Times’ Tech Track 100 Alternative Airlines has been named in The Sunday Times Hiscox Tech Track 100, a prestigious list of the fastest growing technology companies in Britain. Published by British newspaper The Sunday Times, the Tech Track 100 ranks Britain’s top 100 private tech, digital media and telecoms companies with the fastest-growing sales over the last three years.</p>
              </div>
              <div class="col-md-4 col-sm-12">
                <img src="assets/images/Tech_Track.png" class="float-right">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p_releases">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h1>Press Releases</h1>
            <p>Please find the latest Alternative Airlines press releases below.</p>
            <h5><span class="tn"><i class="fa fa-chevron-left"></i> 2019</span></h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <article class="art_c">
            <h3>OCTOBER 10 2019</h3>
            <h4>ALTERNATIVE AIRLINES PARTNERS WITH PAYSAFE</h4>
            <div class="m_divider2"></div>
            <p>Alternative Airlines partners with Paysafe to offer customers an even greater choice of payment options Flight search website rolls out Skrill, NETELLER and Rapid Transfer payment solutions with plans to offer paysafecard and Paysafecash. 10/10/19 Alternative Airlines, a Gatwick-based flight-search website that offers a fast, easy and convenient way to book flights, has announced a new partnership with Paysafe, a global payment services provider.</p><br>
            <a href="#">Read more...</a>
          </article>
        </div>
        <div class="col-md-4 col-sm-12">
          <article class="art_c">
            <h3>SEPTEMBER 09 2019</h3>
            <h4>ALTERNATIVE AIRLINES ENTERS TOP 100 FASTEST-GROWING TECH COMPANIES FOLLOWING 248% GROWTH</h4>
            <div class="m_divider2"></div>
            <p>Alternative Airlines enters top 100 fastest-growing tech companies following 248% growth Global flight-search and booking website, Alternative Airlines, is one of the fastest-growing tech companies in the UK according to this year’s prestigious The Sunday Times Tech Track 100. 09/09/19 Growing from three to 32 staff and achieving a staggering revenue growth of 248% in just three years, Alternative Airlines has been ranked 93rd in the list and has forecasted £19.</p><br>
            <a href="#">Read more...</a>
          </article>
        </div>
        <div class="col-md-4 col-sm-12">
          <article class="art_c">
            <h3>AUGUST 30 2019</h3>
            <h4>ALTERNATIVE AIRLINES REVEALS IN FLIGHT PET PEEVES SURVEY RESULTS</h4>
            <div class="m_divider2"></div>
            <p>Alternative Airlines Releases Insights Into Travellers Pet Peeves When Flying Alternative Airlines survey results find travellers are highly irritated by noisy children, passengers standing up after the plane lands, and fellow passengers who clap at the end of a flight. 30/08/19 Alternative Airlines, a global flight-search website, has released data from a travel ‘pet peeves’ survey, which has highlighted some of the most annoying things travellers experience when flying - and it’s safe to say that other people top the list!</p><br>
            <a href="#">Read more...</a>
          </article>
        </div>
        <div class="col-md-12">
          <br>
          <p class="text-center"><a href="#">Read more... <i class="fa fa-plus-circle"></i></a></p>
        </div>
      </div><!--/row-->
      <br><br><br>
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h1>Alternative Airlines News</h1>
            <p>Company news, industry news, and expert content form the Alternative Airlines team.</p>
            <h5><span class="tn"><i class="fa fa-chevron-left"></i> 2019</span></h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="assets/images/Tech_Track.png" width="100%">
          <article class="art_c">
            <h3>SEPTEMBER 10 2019</h3>
            <h4>ALTERNATIVE AIRLINES NAMED AS ONE OF THE FASTEST GROWING TECH COMPANIES IN THE UK'</h4>
            <div class="m_divider2"></div>
            <p>Alternative Airlines has been announced as one of the fastest growing tech companies in the UK by The Sunday Times’ Tech Track 100 Alternative Airlines has been named in The Sunday Times Hiscox Tech Track 100, a prestigious list of the fastest growing technology companies in Britain. Published by British newspaper The Sunday Times, the Tech Track 100 ranks Britain’s top 100 private tech, digital media and telecoms companies with the fastest-growing sales over the last three years.</p><br>
            <a href="#">Read more...</a>
          </article>
        </div>
      </div><!--/row-->
    </div><!--/container-->
  </section>



  <section class="t_stories">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center mb-5">Social</h1>
          <h3 class="text-center mb-5"><a href="#"><i class="fa fa-twitter fa-lg"></i>&nbsp;&nbsp;&nbsp; <i class="fa fa-instagram fa-lg"></i></a></h3>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="s_box">
            <div class="float-left"> 
              <i class="fa fa-futbol-o fa-2x float-left"></i>
              <div class="mrg_left">Alternative Airlines 
                <br><a href="#"> alternative.airlines</a>
              </div>
            </div>
            <a href="#"><i class="fa fa-instagram fa-2x float-right"></i></a>
            <img src="assets/images/s_img1.jpg" width="100%"><br><br>
            <p><i class="fa fa-comments-o fa-lg text-secondary"></i> &nbsp; <span>2</span> &nbsp; <i class="fa fa-heart fa-lg text-secondary"></i>&nbsp;<span>6</span></p>
            <article class="jhd">
              <p>You know what day it's, its FRIDAY! Our Friday Flyday this week is EgyptAir. . EgyptAir is an Egyptian airline based in Egypt 🇪🇬 and flies to 73 destinations in the Middle East, Europe, Africa, Asia, and the Americas 😍 🌞 Discover Egypt its food, history and famous landmarks 😎 ✈️</p>
            </article>
          </div>
        </div><!--/col-md-4-->

        <div class="col-md-4 col-sm-12">
          <div class="s_box">
            <div class="float-left"> 
              <i class="fa fa-futbol-o fa-2x float-left"></i>
              <div class="mrg_left">Alternative Airlines 
                <br><a href="#"> alternative.airlines</a>
              </div>
            </div>
            <a href="#"><i class="fa fa-instagram fa-2x float-right"></i></a>
            <img src="assets/images/s_img1.jpg" width="100%"><br><br>
            <p><i class="fa fa-comments-o fa-lg text-secondary"></i> &nbsp; <span>2</span> &nbsp; <i class="fa fa-heart fa-lg text-secondary"></i>&nbsp;<span>6</span></p>
            <article class="jhd">
              <p>You know what day it's, its FRIDAY! Our Friday Flyday this week is EgyptAir. . EgyptAir is an Egyptian airline based in Egypt 🇪🇬 and flies to 73 destinations in the Middle East, Europe, Africa, Asia, and the Americas 😍 🌞 Discover Egypt its food, history and famous landmarks 😎 ✈️</p>
            </article>
          </div>
        </div><!--/col-md-4-->

        <div class="col-md-4 col-sm-12">
          <div class="s_box">
            <div class="float-left"> 
              <i class="fa fa-futbol-o fa-2x float-left"></i>
              <div class="mrg_left">Alternative Airlines 
                <br><a href="#"> alternative.airlines</a>
              </div>
            </div>
            <a href="#"><i class="fa fa-instagram fa-2x float-right"></i></a>
            <img src="assets/images/s_img1.jpg" width="100%"><br><br>
            <p><i class="fa fa-comments-o fa-lg text-secondary"></i> &nbsp; <span>2</span> &nbsp; <i class="fa fa-heart fa-lg text-secondary"></i>&nbsp;<span>6</span></p>
            <article class="jhd">
              <p>You know what day it's, its FRIDAY! Our Friday Flyday this week is EgyptAir. . EgyptAir is an Egyptian airline based in Egypt 🇪🇬 and flies to 73 destinations in the Middle East, Europe, Africa, Asia, and the Americas 😍 🌞 Discover Egypt its food, history and famous landmarks 😎 ✈️</p>
            </article>
          </div>
        </div><!--/col-md-4-->

      </div>
    </div>
  </section>


  <section class="p_releases">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center mb-5">Company Timeline</h1>
        </div>
        <div class="col-md-12">
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link tb_x" href="#"><i class="fa fa-chevron-left fa-lg"></i></a>
              </li>
              <li class="page-item active"><a class="page-link tb_x" href="#">2006</a></li>
              <li class="page-item"><a class="page-link tb_x" href="#">2008</a></li>
              <li class="page-item"><a class="page-link tb_x" href="#">2011</a></li>
              <li class="page-item"><a class="page-link tb_x" href="#">2015</a></li>
              <li class="page-item"><a class="page-link tb_x" href="#">2016</a></li>
              <li class="page-item"><a class="page-link tb_x" href="#">2017</a></li>
              <li class="page-item"><a class="page-link tb_x" href="#">2018</a></li>
              <li class="page-item"><a class="page-link tb_x" href="#">2019</a></li>
              <li class="page-item disabled">
                <a class="page-link tb_x" href="#"><i class="fa fa-chevron-right fa-lg"></i></a>
              </li>
            </ul>
          </nav>

          <ul class="content-list">
            <li><span class="timeline_bullet"></span><p><strong>The idea: </strong>In a bar in Russia, two friends from the Charter Broking industry were having a chat about small airlines that fly to lesser-known regions. A few drinks in, they came to the realisation that no one was offering these airlines as alternative flight options online!</p></li>
            <li><span class="timeline_bullet"></span><p><strong>Alternative Airlines was born: </strong>Once back in the UK, the two friends set out to build a fast, easy and convenient online booking platform with a goal to offer every single airline in the world. They would name it ‘Alternative Airlines’.</p></li>
          </ul>
        </div><!--/col-md-12-->
        <br><br>
        <div class="col-md-4"><h2 class="count_q">650+ <span>Airlines</span></h2></div>
        <div class="col-md-4"><h2 class="count_q">25+<span>Payment methods</span></h2></div>
        <div class="col-md-4"><h2 class="count_q">160+<span>Currencies</span></h2></div>
      </div>
    </div>
  </section>

  <section class="about_air">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center mb-5">About Alternative Airlines</h3>
        </div>
        <div class="col-md-12">
          <p class="text-center">Alternative Airlines is a flight search website that offers a fast, easy and convenient way to book flights to remote destinations as well as well-known locations. Alternative Airlines specialises in providing travellers with a wider choice of flights by working with more than 600 airlines including the smaller, regional ones across the world, especially in South America, Africa and South-East Asia. Alternative Airlines' global audience can enjoy over 20 international payment methods making it fast, easy and convenient to book flights.</p>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>
