<app-header></app-header>
<div class="path_home">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <small class="contact_a"> <a href="#">Home </a> > Sitemap</small>
        </div>
      </div> 
    </div>
  </div>
  
  <section class="terms_sitemap">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content-sitemap">
              <h6 class="sub_heading"><b>Home:</b></h6>
              <p><a href="#" class="u_link">HOME PAGE</a> - start your flight search and booking here</p><br>
  
            <h6><b>Flight Booking:</b></h6>
            <p><a href="#" class="u_link">MULTI STOP</a> - search and book a multi-destination trip</p>
  
            <p><a href="#" class="u_link">ONLINE CHECK-IN</a> - check-in to your flight online</p>
  
            <p><a href="#" class="u_link">TICKETING</a> - a list of all the airlines we can ticket through Alternative Airlines</p>
  
            <p><a href="#" class="u_link">GROUP BOOKINGS</a> - contact us here for large group bookings</p>
  
            <p><a href="#" class="u_link">BEST FARE FINDER</a>&nbsp;- get the best price for your flight</p>
  
            <p><a href="#" class="u_link">CHEAPEST DAY TO BUY FLIGHTS</a>&nbsp;- read our guide to getting the best price flights</p>
  
            <p><a href="#" class="u_link">REFUNDABLE FLIGHTS</a>&nbsp;- want to know more about refundable flights? Find out here</p>
  
            <p><a href="#" class="u_link">CURRENCIES</a>&nbsp;- currencies currently available to pay for flights with</p>
  
            <p><a href="#" class="u_link">HOW TO PAY</a>&nbsp;- how to pay for your flights</p>
  
            <p><a href="#" class="u_link">BUY FLIGHTS ON FINANCE</a>&nbsp;- ways to buy flights using finance</p>
  
            <p><a href="#" class="u_link">PAYPAL</a>&nbsp;- buy flights using Paypal</p>
  
            <p><a href="#" class="u_link">AFFIRM</a>&nbsp;- buy flights using Affirm</p>
  
            <p><a href="#" class="u_link">KLARNA</a>&nbsp;- buy flights using Klarna</p>
  
            <p><a href="#" class="u_link">SPLIT PAYMENT</a>&nbsp;- split flight payment</p><br>
  
  
            <h6 class="sub_heading"><b>About Us:</b></h6>
  
            <p><a href="#" class="u_link">CONTACT US</a>&nbsp;- get in touch with us</p>
  
            <p><a href="#" class="u_link">REVIEWS</a>&nbsp;- read reviews of our services</p>
  
            <p><a href="#" class="u_link">WORK WITH US</a>&nbsp;- our latest job vacancies</p>
  
            <p><a href="#" class="u_link">FAQS</a> - &nbsp;find answers to frequently asked questions</p>
  
            <p><a href="#" class="u_link">BLOG</a>&nbsp;- read our blog posts and guides<br>
            &nbsp;</p>
  
            <h6 class="sub_heading"><b>Passenger Services:</b></h6>
  
            <p><a href="#" class="u_link">NAME CHANGES</a>&nbsp;- find out how to make changes to names</p>
  
            <p><a href="#" class="u_link">SPECIAL MEALS</a>&nbsp;- guide to special meals when flying</p>
  
            <p><a href="#" class="u_link">ASSISTANCE FOR SENIORS AND THE ELDERLY</a></p>
  
            <p><a href="#" class="u_link">FLYING WITH CHILDREN</a></p>
  
            <p><a href="#" class="u_link">UNACCOMPANIED MINORS</a></p>
  
            <p><a href="#" class="u_link">FLYING WITH SERVICE ANIMALS AND PETS</a></p>
  
            <p><a href="#" class="u_link">WHEELCHAIR ASSISTANCE</a></p>
  
            <p><a href="#" class="u_link">FLYING AFTER SURGERY</a></p>
  
            <p><a href="#" class="u_link">FLYING WITH MUSICAL INSTRUMENTS</a></p>
  
            <p><a href="#" class="u_link">FLYING WITH CANNABIS</a></p>
  
          </div>
        </div><!--/row-->
      </div>
    </div>
  </section>
<app-footer></app-footer>