<nav class="navbar navbar-expand-lg demo-2">
        <div class="container navbar-container">
           <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png"></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <i class="fa fa-bars iconbar"></i>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto2">
                 <!-- <li class="nav-item dropdown position-relative">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <li><a href="#" class="dropdown-item"><i class="fa fa-male mr-1"></i>Text Here</a></li>
                       <li><a href="#" class="dropdown-item"><i class="fa fa-male mr-1"></i>Text Here</a></li>
                    </ul>
                 </li> -->

                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Book Flights
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <li>
                          <div class="container">
                             <div class="row">
                                <div class="col-2dot4">
                                   <div class="p_relative">
                                      <a routerLink="/ways-to-pay">
                                         <div class="over_lay">
                                            <span class="way2">Ways to pay</span><br>
                                            <span class="way3">Read More ></span>
                                         </div>
                                         <img src="assets/images/product--1.jpg" alt="Product Image" width="100%">
                                      </a>
                                   </div>
                                </div>
                                <div class="col-2dot4">
                                   <div class="p_relative">
                                      <a routerLink="/multi-stop">
                                         <div class="over_lay">
                                            <span class="way2">Multi Stop Search</span><br>
                                            <span class="way3">Read More ></span>
                                         </div>
                                         <img src="../../../assets/images/product-2.jpg" alt="Product Image" width="100%">
                                      </a>
                                   </div>
                                </div>
                                <div class="col-2dot4">
                                  <div class="p_relative">
                                      <a routerLink="/best-fare-finder">
                                         <div class="over_lay">
                                            <span class="way2">Best Fare Finder</span><br>
                                            <span class="way3">Read More ></span>
                                         </div>
                                         <img src="../../../assets/images/product-3.jpeg" alt="Product Image" width="100%">
                                      </a>
                                   </div>
                                </div>
                                <div class="col-2dot4">
                                   <div class="p_relative">
                                      <a routerLink="/currencies">
                                         <div class="over_lay">
                                            <span class="way2">Currencies</span><br>
                                            <span class="way3">Read More ></span>
                                         </div>
                                         <img src="../../../assets/images/product-4.jpg" alt="Product Image" width="100%">
                                      </a>
                                   </div>
                                </div>
                                 <div class="col-2dot4">
                                   <div class="p_relative">
                                      <a routerLink="/how-to-pay">
                                         <div class="over_lay">
                                            <span class="way2">How to pay</span><br>
                                            <span class="way3">Read More ></span>
                                         </div>
                                         <img src="../../../assets/images/product-4.jpg" alt="Product Image" width="100%">
                                      </a>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </li>
                    </ul>
                 </li>

                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Information
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <li>
                          <div class="container">
                             <div class="row">
                                <div class="col-2dot4">
                                   <div class="p_relative">
                                      <a routerLink="/airlines-we-ticket">
                                         <div class="over_lay">
                                            <span class="way2">Airlines we ticket</span><br>
                                            <span class="way3">Read More ></span>
                                         </div>
                                         <img src="assets/images/img.jpg" alt="Product Image" width="100%">
                                      </a>
                                   </div>
                                </div>
                                <div class="col-2dot4">
                                   <div class="p_relative">
                                      <a routerLink="/about-us">
                                         <div class="over_lay">
                                            <span class="way2">About us</span><br>
                                            <span class="way3">Read More ></span>
                                         </div>
                                         <img src="assets/images/img.jpg" alt="Product Image" width="100%">
                                      </a>
                                   </div>
                                </div>
                                <div class="col-2dot4">
                                  <div class="p_relative">
                                      <a routerLink="/how-to-book-seats">
                                         <div class="over_lay">
                                            <span class="way2">How to book seats</span><br>
                                            <span class="way3">Read More ></span>
                                         </div>
                                         <img src="assets/images/img.jpg" alt="Product Image" width="100%">
                                      </a>
                                   </div>
                                </div>
                                <div class="col-2dot4">
                                   <div class="p_relative">
                                      <a routerLink="/media-center">
                                         <div class="over_lay">
                                            <span class="way2">Media Center</span><br>
                                            <span class="way3">Read More ></span>
                                         </div>
                                         <img src="assets/images/img.jpg" alt="Product Image" width="100%">
                                      </a>
                                   </div>
                                </div>
                                 <div class="col-2dot4">
                                   <div class="p_relative">
                                      <a routerLink="/reviews">
                                         <div class="over_lay">
                                            <span class="way2">Reviews</span><br>
                                            <span class="way3">Read More ></span>
                                         </div>
                                         <img src=assets/images/img.jpg" alt="Product Image" width="100%">
                                      </a>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </li>
                    </ul>
                 </li>

                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Help
                    </a>
                    <div  class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <div class="container">
                          <!-- <div class="row">
                             <div class="col-12">
                                <h6 class="shop-heading mt-3 mb-0">Fashion</h6>
                             </div>
                          </div> -->
                          <div class="row shop-dropdown-list">
                             <div class="col-lg-3 col-md-3 col-sm-6 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                                <div class="p_relative">
                                   <a routerLink="/help-center">
                                      <div class="over_lay">
                                         <span class="way2">Help Center</span><br>
                                         <span class="way3">Read More ></span>
                                      </div>
                                      <img src="assets/images/img.jpg" alt="Product Image" width="100%">
                                   </a>
                                </div>
                             </div>
                             <div class="col-lg-3 col-md-3 col-sm-6 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                                <div class="p_relative">
                                   <a routerLink="/contact-us">
                                      <div class="over_lay">
                                         <span class="way2">Contact Us</span><br>
                                         <span class="way3">Read More ></span>
                                      </div>
                                      <img src="assets/images/img.jpg" alt="Product Image" width="100%">
                                   </a>
                                </div>
                             </div>
                             <div class="col-lg-3 col-md-3 col-sm-6 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                               <div class="p_relative">
                                   <a routerLink="/online-check-in">
                                      <div class="over_lay">
                                         <span class="way2">Online Check- in</span><br>
                                         <span class="way3">Read More ></span>
                                      </div>
                                      <img src="assets/images/img.jpg" alt="Product Image" width="100%">
                                   </a>
                                </div>
                             </div>
                             <div class="col-lg-3 col-md-3 col-sm-6 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                                <div class="p_relative">
                                   <a routerLink="/terms">
                                      <div class="over_lay">
                                         <span class="way2">Terms & Conditions</span><br>
                                         <span class="way3">Read More ></span>
                                      </div>
                                      <img src="assets/images/img.jpg" alt="Product Image" width="100%">
                                   </a>
                                </div>
                             </div>
                             <div class="col-12">
                                <div class="dropdown-divider"></div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </li>

                 <li class="nav-item">
                    <a routerLink="/travel-agent" class="nav-link">Travel Agents</a>
                    <!-- <a href="#" class="nav-link" id="search-link"></a> -->
                 </li>
              </ul>
           </div>
           <ul class="navbar-nav offcanvas-navbar mr-auto">
               <li class="nav-item">
                 <a (click)="modalClick()" class="nav-link">Login</a>
               </li>
               <li class="nav-item">
                  <a routerLink="/signup" class="nav-link">Register</a>
               </li>
               <li class="nav-item" *ngIf="signTab">
                  <a (click)="loginClick()" class="nav-link">Login</a>
                </li>
                <li class="nav-item" *ngIf="signTab">
                   <a (click)="regClick()" class="nav-link">Register</a>
                </li>
               <li class="nav-item dropdown position-relative">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/ind.png" width="25px"> INR</a>
                 <ul class="dropdown-menu position-absolute" aria-labelledby="navbarDropdown">
                    <li class="clearfix">
                       <br>
                       <h6 align="center"><b>Select a currency </b></h6>
                       <div class="curn-div">
                          <a href="#"><div class="curn_item"><i class="fa fa-inr fa-lg"></i><br> INR</div></a>
                          <a href="#"><div class="curn_item"><i class="fa fa-usd fa-lg"></i><br> USD</div></a>
                          <a href="#"><div class="curn_item"><i class="fa fa-eur fa-lg"></i><br> EUR</div></a>
                          <a href="#"><div class="curn_item"><i class="fa fa-usd fa-lg"></i><br> AUD</div></a>
                       </div>
                       
                       <div class="input-group serch_curn">
                         <div class="input-group-prepend">
                           <span class="input-group-text s-curn"><i class="fa fa-search"></i></span>
                         </div>
                         <input type="text" class="form-control-search" placeholder="Try:'UZS'">
                       </div>
                      <!-- <div class="usd"></div> -->
                       <div class="curn-div2">
                          <a href="#"><div class="curn_item2"><i class="fa fa-inr fa-lg"></i> INR</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-usd fa-lg"></i> USD</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-eur fa-lg"></i> EUR</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-usd fa-lg"></i> AUD</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-inr fa-lg"></i> INR</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-usd fa-lg"></i> USD</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-eur fa-lg"></i> EUR</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-usd fa-lg"></i> AUD</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-inr fa-lg"></i> INR</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-usd fa-lg"></i> USD</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-eur fa-lg"></i> EUR</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-usd fa-lg"></i> AUD</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-inr fa-lg"></i> INR</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-usd fa-lg"></i> USD</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-eur fa-lg"></i> EUR</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-usd fa-lg"></i> AUD</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-inr fa-lg"></i> INR</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-usd fa-lg"></i> USD</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-eur fa-lg"></i> EUR</div></a>
                          <a href="#"><div class="curn_item2"><i class="fa fa-usd fa-lg"></i> AUD</div></a>
                       </div>
                    </li>
                 </ul>
              </li>
              <!-- <li class="nav-item">
                 <a href="#" class="nav-link"  id="offcanvas-link"><i class="fa fa-ellipsis-h"></i></a>
              </li> -->
           </ul>
        </div>
        <!-- container -->
     </nav>


<!-- <nav class="navbar navbar-default navbar-fixed-top nab-bg">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a>

        <span mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>


        <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li><a href="#">Book Flights</a></li>
          <li><a href="#">Information</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Travel Agents</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Login</a></li>
          <li><a href="#">Sign Up</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="assets/images/us.png" width="30px">  USD <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">USD</a></li>
              <li><a href="#">IND</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  <!--//nav-->


  <!--mobile view-->
  <!-- <span class="mobile-toggle" onclick="openNav()">&#9776; </span>
  <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="navbar2">
            <ul class="mobile-menu">
              <li><a href="#">Book Flights</a></li>
              <li><a href="#">Information</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Travel Agents</a></li>
            </ul>
      </div>
  </div> -->
  <!--//mobile view-->





   
    <!-- login_section -->
    <section class="login_page" *ngIf="modalShow">
      <div class="main_d">
            <div class="s_header">
                  <i class="fa fa-times close_form" (click)="modalHide()"></i>
               <img src="assets/images/your-account.png"><br><br>
               <span class="s_title text-center">Log In</span>
            </div>
            <!-- <div class="btn_5">
               <a (click)="loginClick()">log In</a>
               <a (click)="regClick()">Sign Up</a>
            </div> -->


            <div class="card-body" *ngIf="loginShow">
               <div class="l_fb">
                  <a href="#">
                     <div class="float-left f_btn1"><i class="fa fa-facebook"></i></div>
                     <div class="f_btn2">LOG IN WITH FACEBOOK</div>
                  </a>
               </div>
               <div class="l_fb2">
                  <a href="#">
                     <div class="float-left f_btn_a"><i class="fa fa-google"></i></div>
                     <div class="f_btn_b">LOG IN WITH FACEBOOK</div>
                  </a>
               </div>
               <p class="text-center">Or</p>
               <div class="input-group">
                  <div class="input-group-prepend">
                     <div class="input-group-text" id="btnGroupAddon"><i class="fa fa-envelope-o"></i></div>
                  </div>
                  <input type="email" class="form-control" placeholder="Email" aria-label="Input group example" aria-describedby="btnGroupAddon">
               </div>
               <br>
               <div class="input-group">
                     <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon"><i class="fa fa-unlock-alt"></i></div>
                     </div>
                     <input type="password" class="form-control" placeholder="Password" aria-label="Input group example" aria-describedby="btnGroupAddon">
                  </div>
            </div><!--main_d-->

            <div class="card-body" *ngIf="regShow">
               <div class="l_fb">
                  <a href="#">
                     <div class="float-left f_btn1">F</div>
                     <div class="f_btn2">SIGN UP WITH FACEBOOK</div>
                  </a>
               </div>
               <div class="l_fb2">
                  <a href="#">
                     <div class="float-left f_btn_a">G</div>
                     <div class="f_btn_b">SIGN UP WITH FACEBOOK</div>
                  </a>
               </div>
               <p class="text-center">Or</p>
               <div class="input-group">
                  <div class="input-group-prepend">
                     <div class="input-group-text" id="btnGroupAddon">@</div>
                  </div>
                  <input type="email" class="form-control" placeholder="Email" aria-label="Input group example" aria-describedby="btnGroupAddon">
               </div>
               <br>
               <div class="input-group">
                     <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon">@</div>
                     </div>
                     <input type="password" class="form-control" placeholder="Password" aria-label="Input group example" aria-describedby="btnGroupAddon">
                  </div>
               </div><!--main_d-->

               <p class="text-center">Don't remember your password?</p>

            <footer class="s_up">
               <a href="#" class="text-white">Sign Up</a>
            </footer>
         </div><!--main_d-->
 </section>

 <div class="back_overlay" *ngIf="modalShow" (click)="modalHide()"></div>
<!-- /login_section -->