<!-- <div class="container">
    <app-header></app-header>
</div> -->

  <app-header></app-header>
  <app-search></app-search>




    	  <!--section2-->
        <section class="section2">
          <div class="container">
             <div class="row">
                <div class="col-md-12">
                   <div class="d-flex justify-content-between">
                      <img src="assets/images/iata-logo.svg" class="logo7">
                      <img src="assets/images/paypal-logo.svg" class="logo7">
                      <img src="assets/images/klarna-logo.svg" class="logo7">
                      <img src="assets/images/600airlines.svg" class="logo7">
                      <img src="assets/images/160currencies.svg" class="logo7">
                      <img src="assets/images/feefo-logo.svg" class="logo7">
                      <img src="assets/images/safe-secure-logo.svg" class="logo7">
                   </div>
                </div>
             </div>
          </div>
       </section>
       <!--/section2-->

       <section class="about1">
        <div class="container">
           <div class="row">
              <div class="col-md-3"><img src="assets/images/tech-track-100.svg" width="100%"></div>
              <div class="col-md-6"><img src="assets/images/img1.jpg" width="100%"> </div>
              <div class="col-md-3">
                 <p class="we-re">We're the UK's fastest growing Online Travel Agency</p>
                 <p class="f-sz">We're really proud of the fact we are one of the Top 100 tech companies. With a great balance between tech and customer service, we're making sure your booking experience is easy.</p>
              </div>
           </div>
        </div>
     </section>
     <!--/about1-->

     <section class="explore_the_world">
      <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="b_color text-center">Explore the world,</h1>
            <p class="b_color text-center">and find great deals departing from New Delhi</p>
            <br>
         </div>
      </div>
         <div class="row">
            <div class="col-md-8 pd_5">
               <div class="g-main">
                  <a href="#">
                     <img src="assets/images/gallery/img1.webp" class="scale1">
                     <div class="square">
                        <div class="in-title">
                           <h3>France</h3>
                           <h1>Pairish</h1>
                        </div>
                     </div>
                  </a>
               </div>
            </div><!--/col-md-8-->
            <div class="col-md-4 pd_5">
               <div class="g-main3 mb-2">
                  <a href="#">
                     <img src="assets/images/gallery/img2.webp" class="scale1">
                     <div class="in-title2">
                        <h4>Spain</h4>
                        <h2>Barcelona</h2>
                     </div>
                  </a>
               </div>
               <div class="g-main3">
                  <a href="#">
                     <img src="assets/images/gallery/img3.webp" class="scale1">
                     <div class="in-title3">
                        <h3>United State</h3>
                        <h2 align="center">LOS <br> ANGELES</h2>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-md-4 pd_5">
               <div class="g-main2">
                  <a href="#">
                     <img src="assets/images/gallery/img4.webp" class="scale1">
                     <div class="in-title2">
                        <h5>Italy</h5>
                        <h3>Rome</h3>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-md-4 pd_5">
               <div class="g-main2">
                  <a href="#">
                     <img src="assets/images/gallery/img5.webp" class="scale1">
                     <div class="in-title2">
                        <h5>Netherlands</h5>
                        <h3>Amsterdam</h3>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-md-4 pd_5">
               <div class="g-main2">
                  <a href="#">
                     <img src="assets/images/gallery/img6.webp" class="scale1">
                     <div class="in-title2">
                        <h5>Spain</h5>
                        <h3>Madrid</h3>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-md-4 pd_5">
               <div class="g-main2">
                  <a href="#">
                     <img src="assets/images/gallery/img6.webp" class="scale1">
                     <div class="in-title3">
                        <h3>Ireland</h3>
                        <h2>Dublin</h2>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-md-4 pd_5">
               <div class="g-main2">
                  <a href="#">
                     <img src="assets/images/gallery/img8.webp" class="scale1">
                     <div class="in-title2">
                        <h5>Jamaica</h5>
                        <h3>Montego Bay</h3>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-md-4 pd_5">
               <div class="g-main2">
                  <a href="#">
                     <img src="assets/images/gallery/img9.webp" class="scale1">
                     <div class="in-title2">
                        <h5>Dominican Republic</h5>
                        <h3>Punta Cana</h3>
                     </div>
                  </a>
               </div>
            </div>
         </div><!--/row-->
      </div>
   </section>
   <!--/explore_the_world-->

   <section class="explore">
    <div class="container">
       <div class="row">
          <div class="col-md-3">
             <div class="exp-box">
                <h5>Easy Flight Search</h5>
                <img src="assets/images/svg1.webp">
                <p>Find your flight and choose from over 25 payment methods and 160 currencies.</p>
             </div>
          </div>
          <div class="col-md-3">
             <div class="exp-box">
                <h5>Secure Booking</h5>
                <img src="assets/images/svg2.webp">
                <p>Use our easy online booking system to book flights quickly & securely.</p>
             </div>
          </div>
          <div class="col-md-3">
             <div class="exp-box">
                <h5>More Choice</h5>
                <img src="assets/images/svg3.webp">
                <p>Experience better flights & connections with more than 600 airlines worldwide.</p>
             </div>
          </div>
          <div class="col-md-3">
             <div class="exp-box">
                <h5>Multi-Stop</h5>
                <img src="assets/images/svg4.webp">
                <p>Use our multi-stop booking tool to discover multiple destinations in a single trip.</p>
             </div>
          </div>
       </div><!--/row-->
       <br>
       <div class="row">
          <div class="col-3 col-md-2 text-center"> <img src="assets/images/paypal.svg" width="80px"> </div>
          <div class="col-3 col-md-2 text-center"> <img src="assets/images/amazon.svg" width="90px"> </div>
          <div class="col-3 col-md-2 text-center"> <img src="assets/images/klarna.svg" width="80px"> </div>
          <div class="col-3 col-md-2 text-center"> <img src="assets/images/mastercard.svg" width="30px"> </div>
          <div class="col-3 col-md-2 text-center"> <img src="assets/images/visa.svg" width="50px"> </div>
          <div class="col-3 col-md-2 text-center"> <img src="assets/images/amex.svg" width="50px"> </div>
       </div>
    </div>
 </section>
 <!--/explore-->

 <section class="video">
  <div class="container">
     <div class="row">
        <div class="col-md-8 offset-md-2">
           <div class="about-us-video-bkg"><iframe id="homevideo" style="border: 0px solid #111111; display: block; margin-left: auto; margin-right: auto;" width="100%" height="315" src="https://www.youtube.com/embed/JGtb3T6eJNo?rel=0&amp;controls=1&amp;showinfo=0;autoplay=1" frameborder="0" allowfullscreen=""></iframe></div>
        </div>
     </div>
  </div>
</section>
<!--/video-->


<section class="our-airlines">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <h2 class="b_color">BOOK <b>100S OF AIRLINES</b> QUICKLY & SECURELY</h2><br>
           <p>We have access to <b>over 600 airlines</b> you can book today. Buy tickets safely using the currency and payment method of your choice.</p>
           <br>
        </div>
     </div>
     <div class="row">
        <div class="col-2dot4"><img class="airlines-logo" src="assets/images/logo1/allegiant.webp"> </div>
        <div class="col-2dot4"><img class="airlines-logo" src="assets/images/logo1/cebu-pacific.webp"> </div>
        <div class="col-2dot4"><img class="airlines-logo" src="assets/images/logo1/air-tanzania.webp"> </div>
        <div class="col-2dot4"><img class="airlines-logo" src="assets/images/logo1/alaska-airlines.webp"> </div>
        <div class="col-2dot4"><img class="airlines-logo" src="assets/images/logo1/avianca.png"> </div>
     </div>
     <div class="row">
        <div class="col-2dot4"><img class="airlines-logo" src="assets/images/logo1/frontier.webp"> </div>
        <div class="col-2dot4"><img class="airlines-logo" src="assets/images/logo1/israir.webp"> </div>
        <div class="col-2dot4"><img class="airlines-logo" src="assets/images/logo1/asky.webp"> </div>
        <div class="col-2dot4"><img class="airlines-logo" src="assets/images/logo1/pal-express.webp"> </div>
        <div class="col-2dot4"><img class="airlines-logo" src="assets/images/logo1/china.webp"> </div>
        <div class="col-md-12 text-center">
           <button class="view-all">View all</button>
        </div>
     </div>
  </div>
</section>
<!--/over airlines-->



<section class="partner-sec">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <h2 class="partner-title">MEET OUR <b>PARTNERS</b></h2>
        </div>
        <div class="col-md-12">
           <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
           <p class="logo-slider">
              <img src="assets/images/logo2/1.webp" width="200px" class="partner2">
              <img src="assets/images/logo2/2.webp" width="200px" class="partner2">
              <img src="assets/images/logo2/3.webp" width="200px" class="partner2">
              <img src="assets/images/logo2/4.webp" width="200px" class="partner2">
              <img src="assets/images/logo2/5.png" width="200px" class="partner2">
              <img src="assets/images/logo2/6.webp" width="200px" class="partner2">
              <img src="assets/images/logo2/7.webp" width="200px" class="partner2">
              <img src="assets/images/logo2/8.webp" width="200px" class="partner2">
              <img src="assets/images/logo2/9.webp" width="200px" class="partner2">
              <img src="assets/images/logo2/10.webp" width="200px" class="partner2">
              <img src="assets/images/logo2/11.webp" width="200px" class="partner2">
              <img src="assets/images/logo2/12.png" width="200px" class="partner2">
              <img src="assets/images/logo2/13.png" width="200px" class="partner2">
              <img src="assets/images/logo2/14.webp" width="200px" class="partner2">
              <img src="assets/images/logo2/15.png" width="200px" class="partner2">
              <img src="assets/images/logo2/16.png" width="200px" class="partner2">
              <img src="assets/images/logo2/17.webp" width="200px" class="partner2">
              <img src="assets/images/logo2/18.webp" width="200px" class="partner2">
           </p>
           </marquee>
        </div>
     </div>
  </div>
</section>
<!--/partner-sec-->

<section class="client_reviews">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <p class="rating1 text-center"> Average Customer Rating:  
              <i class="fa fa-star fa-2x"></i>
              <i class="fa fa-star fa-2x"></i>
              <i class="fa fa-star fa-2x"></i>
              <i class="fa fa-star fa-2x"></i>
              <i class="fa fa-star-o fa-2x"></i> 
              <b>4.4/5</b>
              <span>|</span>
           </p>
           <p class="text-center"><small>Independent Service Rating based on 3701 verified reviews over the past year. Read all reviews</small></p>
           <br>
        </div>
     </div>
     <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
       <!-- <ol class="carousel-indicators">
         <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
         <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
         <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
       </ol> -->
       <div class="carousel-inner">
         <div class="carousel-item active">
           <div class="row">
              <div class="col-md-3">
                 <p class="rating1">
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                 </p>
                 <p>Web site was very good. My only minor criticism was that I could not book my flights online as there... Read More</p>
              </div>
              <div class="col-md-3">
                 <p class="rating1">
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                 </p>
                 <p><b>Good service</b></p>
                 <p>Awesome experience Kashif Ali</p>
              </div>
              <div class="col-md-3">
                 <p class="rating1">
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                 </p>
                 <p>Efficient, easy to use</p>
              </div>
              <div class="col-md-3">
                 <p class="rating1">
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                 </p>
                 <p>I will definitely recommend someone to use. Excellent service</p>
              </div>
           </div>
         </div>

         <!-- <div class="carousel-item"></div>
         <div class="carousel-item"></div> -->

       <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
       </a>
     </div>
  </div>
  </div>
</section>

      
    <app-footer></app-footer>