<app-header></app-header>
<div class="path_home">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <small class="contact_a"> <a href="#">Home </a> > Online Check-inOnline Check-in</small>
        </div>
      </div> 
    </div>
  </div>
  
  <section class="online_check_in">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="online_content">
            <h4>ONLINE CHECK-IN</h4>
            <p><strong>Click on the logo of the airline that you’re flying on and complete the check-in.</strong></p>
            <p class="max-700"><b>Please note:</b> Not every airline provides online check-in and this page doesn’t include the check-in link for every airline offered through Alternative Airlines/<br>
            If the airline that you’re flying on does offer online check-in but is not featured on this page, <b>we provide a check-in link on your e-ticket.</b></p>
          </div>
        </div>
      </div>
      <br>
      <div class="o_box">
        <div class="row">
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/1.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/2.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/3.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/4.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/5.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/6.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/7.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/8.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/9.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/10.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/11.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/12.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/13.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/14.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/15.webp" class="on_logo">
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="check_in">
              <img src="assets/images/online/16.webp" class="on_logo">
            </div>
          </div>
        </div><!--/row-->
      </div>
  
  
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="online_content2">
            <h4>How Does Online Check-In Work?</h4>
  
            <h2><b>STEP 1</b></h2>
            <p>When finalising your booking, it’s important to look up the individual airline regarding its check-in policy. As mentioned, most airlines do offer online-check-in, but there are still some that don’t. In which case, you’ll have to check-in at the airport.</p>
            <p>If the airline does offer online check-in, <b>we provide a direct link that can be found on your e-ticket.</b></p>
            <p>It’s also important to check the individual airline check-in policy to find out when online check-in opens and closes. Some airlines close their online check-in window earlier than others and <b>if you miss it, you may have to pay a check-in fee at the airport.</b></p>
  
            <h2><b>STEP 2</b></h2>
            <p>If the airline that you’re flying on does offer web-check-in, you’ll be able to check-in online via desktop on the airline’s website. Additionally, some airlines will also allow you to check-in via mobile or app.</p>
            <p>Follow the instructions on the airline check-in website or app to complete check-in. This usually requires full passenger details and your booking reference.</p>
  
            <h2><b>STEP 3</b></h2>
            <p>Once web check-in is complete, you’ll need to obtain your boarding pass.</p>
            <p>Almost all airlines will allow you to print your boarding pass at home. And, if you’ve checked in via mobile or app, most airlines will allow you to download your boarding pass on your mobile.</p>
            <p>If you don’t have access to a printer or can’t download your boarding pass on your mobile, some airlines will let you collect your boarding pass at the airport free of charge. However, others might charge.</p>
  
            <h2><b>STEP 4</b></h2>
            <p>As you’re already checked-in, when you arrive at the airport, you can can go straight to the bag drop off facility to drop off any checked baggage. If you only have hand baggage, you can head straight to security.</p>
            <p>Make sure to have your boarding pass handy at security, as you’ll be required to show it.</p>
            <p><b>Tip:</b>If you forget your boarding pass, or you phone runs out of battery, you can still go to the check-in desk to reprint your ticket. However, please be aware that some airlines may charge for this.</p>
  
            <h4>Why Check-In Online?</h4>
            <p>Traditionally, passengers queue up at an airport hours before their flight to check-in, in order to confirm their arrival and flying presence with airline staff. However, today, it’s much more common for airlines to offer advance online check-in, or web check-in, for you to check yourself in from the comfort of your home or mobile.</p>
            <p>At Alternative Airlines, we understand that flying can be a stressful time and we aim to minimise stress to ensure passengers have the best possible flying and booking experience. Therefore, we recommend that passengers use online check-in where possible as we believe it has a multitude of benefits:</p>
            <p>We believe one of the most important advantages to checking in online is the cost-benefits. Some airlines now charge when checking in at the airport, whereas most airlines will offer online check-in free of charge. Additionally, some airlines will offer discounts on checked baggage or other services when booking online, as opposed to paying full price at the airport. Therefore, online check-in is often a much cheaper option than airport check-in.</p>
            <p>There’s not much worse than arriving at the airport to see a room full of winding queues at check-in. When checking in online everything is completed beforehand, which means there are no queues at all!. This makes the whole check-in process a lot quicker, giving you more time to yourself and less time standing in queues, especially when travelling without checked luggage.</p>
            <p>Web check-in also means that there is one less job to do once you are at the airport. This means less stress as you can be confident that you’ve secured your seat on the plane</p>
            <p>You can check-in from your desktop, mobile or tablet, meaning you can do it from the comfort of your home or on-the-go. Checking in online also means you can often choose your seats in advance, so you can sit where you want or — if traveling as a group — with who you want.</p>
          </div>
        </div>
      </div><!--/row-->
  
    </div><!--/container-->
  </section>
<app-footer></app-footer>