<app-header></app-header>

<section class="help_desk">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><span class="aa_h">Alternative Airlines Help</span></div>
        <div class="col-md-3 offset-md-6">
          <ul class="go_w">
            <li><a href="#"><img src="assets/images/usa.png" width="25px"> &nbsp;  <i class="fa fa-angle-down fa-lg"></i></a></li>
            <li><a href="#">Go to website</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="h_search">
            <h3 class="text-white text-center">How can we help you?</h3><br>
            <form>
              <div class="form-group p-re">
                <i class="fa fa-search fa-lg ab_s"></i>
                <input type="email" class="form-control form-control-lg text-center" id="help_center"placeholder="Search our help center...">
              </div>
            </form>
          </div>
        </div>
        </div>
    </div>
  </section>
  <!--//help-desk-->

  <section class="browse_page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center mb-4">Frequently Read Articles</h4>
        </div>
        <div class="col-md-4 pd_z"><div class="i_box">Changing and amending your ticket reservation</div></div>
        <div class="col-md-4 pd_z"><div class="i_box">Ticket refunds</div></div>
        <div class="col-md-4 pd_z"><div class="i_box">Adding Baggage to your Flight</div></div>
        <div class="col-md-4 pd_z"><div class="i_box">I can’t find my reservation confirmation</div></div>
        <div class="col-md-4 pd_z"><div class="i_box">How much baggage can I check-in?</div></div>
        <div class="col-md-4 pd_z"><div class="i_box">Seat Selection</div></div>
      </div><!--/row-->
      
      <hr>

      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center mb-4">Browse All Categories</h4>

          <ul class="all_category">
            <li>
              <a href="#">
                <img src="assets/images/browse_img/01.png" class="label_2">
                <span class="c_label">Ticket Reservation and Confirmations</span>
                <div class="csh_cnt">FAQs and information on ticket reservations, confirmations, e-tickets, boarding passes, refunds and everything else related to your ticket and reservation.</div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/browse_img/02.png" class="label_2">
                <span class="c_label">Baggage and Seats</span>
                <div class="csh_cnt">FAQs and information regarding baggage and seating on your flight, including how to book seats and add baggage to your Alternative Airlines reservation.</div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/browse_img/03.png" class="label_2">
                <span class="c_label">Payment Methods and Charges</span>
                <div class="csh_cnt">FAQs and information about the different payment methods at Alternative Airlines., including credit and debit card charges and how we keep your details safe.</div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/browse_img/04.png" class="label_2">
                <span class="c_label">Check-in Information</span>
                <div class="csh_cnt">FAQs and information on the check-in process after purchasing a flight through Alternative Airlines and the steps that you should take to complete check-in.</div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/browse_img/05.png" class="label_2">
                <span class="c_label">Flight Search</span>
                <div class="csh_cnt">FAQs and information on Alternative Airlines' flight search, including details on the different tools and what to do if you can't find the flight that you want.</div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/browse_img/06.png" class="label_2">
                <span class="c_label">Flight Information and Passenger Services</span>
                <div class="csh_cnt">Flying with children or minors? Or need special assistance on your flight? Find everything you need to know here.</div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/browse_img/07.png" class="label_2">
                <span class="c_label">Passport Details and Identification</span>
                <div class="csh_cnt">Find out about different forms of identification and whether your passport details are required to book your flight.</div>
              </a>
            </li>
          </ul>

        </div>
      </div><!--/row-->
    </div>
  </section><!--//help-desk-->


  <section class="send_sms">
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="lkg">
            <h6 class="cs_bold">Not finding what you are looking for?</h6>
            <small>Chat with us or send us an email.</small>
            <p><a href="#" class="send_d"> <i class="fa fa-envelope"></i> Send us an email</a></p>
            <div class="qr_code2">
              <img src="assets/images/browse_img/whatsapp-qr.svg" width="50px" class="float-left"> Scan the QR code to WhatsApp us
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--//send_sms-->
<app-footer></app-footer>
