
<app-header></app-header>

<div class="book_flight">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3 class="text-center text-white display-4" style="font-size: 36px;">BOOK FLIGHTS WITH US</h3>
                <h1 class="text-bold pay-way">PAY YOUR WAY</h1>
                <br>
                <div class="text-white text-center">Alternative Airlines, the online flight search, 
                offers over <strong> 25 different payment methods </strong>> to choose from. 
                Choose to pay for your flights in over <strong> 160 different 
                currencies </strong>> and select the payment method that suits you.
                </div>
            </div>
        </div>
    </div>
</div>

<section class="click_on">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center on_color"><b>Click on </b> our most popular payment methods to find out more</p>
            </div>
            <div class="col-md-12">
                <div class="d-flex align-content-start flex-wrap">
                    <div class="item-logo"> <img src="assets/images/pay_logo/paypal-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/Affirm_logo_small_new_2.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/visa-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/master-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/maestro_logo_small_2.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/Klarna_logo_small_2.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/flynowpaylater-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/paybright_small.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/applepay-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/googlepay-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/android-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/amex-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/alipay-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/airtel-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/diners-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/discover-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/jcb-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/mpesa-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/tigo-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/visacheck-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/masterpass-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/transfer-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/split-your-payment-list.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/Amazon_pay_logo_small_3.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/Sofort_small_logo.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/iDEAL_small_logo.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/Poli_small_logo.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/Giropay_logo_small.png" class="pay_logo2"> </div>
                    <div class="item-logo"> <img src="assets/images/pay_logo/MTN_logo_small.png" class="pay_logo2"> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="pay-content">
                    <img src="assets/images/pay_logo/paypal-list.png" class="pay_l">
                    <br>
                    <p class="pay_ctn">Alternative Airlines accepts PayPal and <a href="#">PayPal</a> Credit payments, making flight purchases easy and more secure for customers.</p>
                    <p>PayPal is one of the leading forms of online payment, with more than 169 million accounts worldwide. You can now use PayPal and PayPal Credit to pay for your flights when booking through Alternative Airlines. Just search and select the flights and routes suited to you and simply select PayPal or PayPal Credit as your payment method when you decide to book. You can either sign in to your PayPal account or pay as a guest. This new process makes booking flights with Alternative Airlines easier than ever before.</p>
                    <p>And if you are looking for <a href="#"> flight promo codes, </a> check out all the <a href="#"> Alternative Airlines promo codes! </a> Use PayPal for your air travel and save on your next flight reservation with us!</p>
                    <br>
                    <h2 class="l_blue">BOOK FLIGHTS WITH<br><a href="#">PAYPAL</a></h2>
                </div>
            </div>
        </div><!--//row-->

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="pay-content">
                    <img src="assets/images/pay_logo/Affirm_logo_small_new_2.png" class="pay_l">
                    <br>
                    <p class="pay_ctn">Pay for your flights in monthly installments using <a href="#">Affirm.</a> </p>
                    
                    <p><b>Affirm</b>  allows you to pay for your flights in monthly installments. Choose to pay back your flights with monthly payments over a 3, 6 or 12 month period. Affirm can be used to buy airline tickets with a value of up to $17,500 USD.</p>
                    <p>As an example, you might pay "$43.96/mo based on a purchase price of $500.00 at 10% APR for 12 months. A down payment may be required.<br>
                    <b>*Only available for US customers. </b></p>
                    <br>
                    <h2 class="l_blue">BOOK FLIGHTS WITH<br><a href="#">AFFIRM</a></h2>
                </div>
            </div>
        </div><!--//row-->

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="pay-content">
                    <img src="assets/images/pay_logo/visa-list.png" class="pay_l">
                    <br>
                    <p class="pay_ctn"><a href="#"></a> </p>
                    <p></p>
                    <p><a href="#"></a> <a href="#"> </a></p>
                    <br>
                    <h2 class="l_blue"><br><a href="#"></a></h2>
                </div>
            </div>
        </div><!--//row-->




    </div>
</section>

<app-footer></app-footer>