<app-header></app-header>
<section class="how_to_use_my_account">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="wrap text-center">
            <h2 class="a_use_title">How to use My Account</h2>
            <p class="body_content">My Account is a feature on Alternative Airlines which allows users to log-in and personalise their experience on our website. You can easily sign-up or log-in to be able to use the features.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="Why_use_use_my_account">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="artical_box text-center">
             <h2 class="step_guide"><span class="uppercase"><span class="thin-text">Why use <span class="a_use_title">My Account</span>?</span></span></h2>
             <h3 class="thin_title">Book flights quickly and easily</h3>
             <p>Once you have signed up and entered your details into My Account, you will be able to book your flights and checkout quicker. This is because your account will save your details meaning you don’t have to enter them every time you book, speeding up your future bookings.</p>
             <h3 class="thin_title">Save your searches</h3>
             <p>My Account has a feature where you can save your flight searches and come back to them at a later date. You can resume previous searches meaning you can save time putting in the details of your search again.</p>
             <h3 class="thin_title">View your previous bookings</h3>
             <p>Keep track of what exactly you have booked with us, incase you forget flight details and want reminding, or simply want to know more about your previous bookings.</p>
             <h3 class="thin_title">Sign Up Easily</h3>
             <p>You can choose to sign in with you Facebook or Google account, which makes the sign up process even quicker and easier. You can also sign in with your email address, creating a secure password associated with it.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="how_to_create_account">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="artical_box text-center">
            <h2 class="how_to_create_title"><span class="my_account">How to Create an account on My Account</span></h2>
            <p>On any page on the Alternative Airlines website, you can see a ‘Sign Up’ button in the top right hand corner. This is the button which you can click to sign up to My Account.</p>
            <p><img src="assets/images/my_account/Create_Account.jpg" class="img-fluid"></p>
            <p>When you click this button, you will be taken to a page where you can begin the sign-up process, as below.</p>
            <p><img src="assets/images/my_account/My_Account_Sign_Up.jpg" class="img-fluid"></p>
            <p>There are three options you can choose from to sign up to your My Account:</p>
            <h5 class="with_fb"><b>Sign Up with Facebook</b></h5>
            <p>One of the options is to sign up with your existing Facebook account. When you click the ‘sign up with Facebook’ button, you will be redirected to a Log in screen with Facebook, where you can enter your email address and password associated with your Facebook account. These details are secure, as Facebook does not share them with us. Once you give Alternative Airlines permissions to use your Facebook account to log in, you will be able to see your dashboard on My Account. You will know if you are signed in if you can see your facebook profile picture in the top right corner of the page.</p>
            <p><img src="assets/images/my_account/Sign_Up_Facebook.jpg" class="img-fluid"></p>
            <h5 class="with_fb"><b>Sign Up with Google</b></h5>
            <p>If you’d prefer, you can also sign up to My Account with your existing Google account. When clicking the ‘Sign Up With Google’ button, you will be redirected to a Google screen, where you will be required to enter your email address and password associated with your Google account. Once you have successfully completed this screen, you will be redirected back to Alternative Airlines My Account screen, where you will see your Google picture and name on the top bar.</p>
            <p><img src="assets/images/my_account/Sign_Up_Google.jpg" class="img-fluid"></p>
            <h5 class="with_fb"><b>Sign Up with Google</b></h5>
            <p>If you’d prefer, you can also opt to sign up for your My Account with an email address. To do this, simply complete the email address, password and name fields and press the Sign Up button.</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="how_to_login">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="artical_box text-center">
            <h2 class="how_to_log_in">How to Log In to <span class="title_lightblue">My Account</span></h2>
            <p>If you have previously set up an account with Alternative Airlines, you can choose to quickly access your details by logging in. To do this, click the ‘Log In’ button at the top of the screen on any page on Alternative Airlines. You can choose to Log In with either Facebook, Google or via email address, each of which has the same process as signing up shown above.</p>
            <p><img src="assets/images/my_account/My_Account_Log_In.jpg" class="img-fluid"></p>
            <p>If you have forgotten your password when logging in to your email, don’t worry as you can click ‘Don't remember your password?’. You will be asked to enter the email address associated with your account and click ‘Send email’. An email will be sent to your email address where you will be given instructions to reset your password.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="how_to_login_ac">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="artical_box text-center">
            <h2 class="how_to_log_in">How to Log In to My Account<span class="title_lightblue"></span></h2>
            <p>One handy feature of My Account is the ability to add ‘travellers’ where you can create profiles for each traveller to save their details for future. This means you save time having to enter these details each time you book with us.</p>
            <p>On the My Account Dashboard, click on the ‘Travellers’ tab and click on ‘Add a traveller’. A ‘Traveller profile’ form will appear where you can enter all details of the traveller. Required details include title, full name and date of birth.</p>
            <p><img src="assets/images/my_account/My_Account_Dashboard_Travellers.jpg" class="img-fluid"></p>
            <p>On each profile, you can also add details such as if special assistance is required, seat preference, meal preference and frequent flyer programme. You can add as many travellers as you wish in your My Account by just filling out the profile each time.</p>
            <p><img src="assets/images/my_account/my_account_add_traveller.jpg" class="img-fluid"></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="Why_use_use_my_account">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="artical_box text-center">
            <h2 class="how_to_find">HOW TO FIND EXISTING / UPCOMING FLIGHTS</h2>
            <p>With My Account, you can also find flights that you have coming up, and flights that you have been on in the past. From the dashboard, click ‘Your upcoming flights’ to view flights that you have booked, but have not yet travelled on yet. This will be compressed in a list, but to view more details, simply click to view full details.</p>
            <p><img src="assets/images/my_account/My_Account_Dashboard_existing_flights.jpg" class="img-fluid"></p>
            <p><img src="assets/images/my_account/My_account_existing_flights.jpg" class="img-fluid"></p>
            <p>When back on your dashboard for My Account, you can click on the ‘Previous Bookings’ which brings up flights you have already travelled on. You can click on each tab within it to view more details.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>