<app-header></app-header>
<div class="path_home">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <small class="contact_a"> <a href="#">Home </a> > Contact usContact us & FAQs</small>
        </div>
      </div> 
    </div>
  </div>
  
  <section class="banner_c">
    <img src="assets/images/contact_us.webp" width="100%">
  </section>
  
  <section class="help_center">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><h6 class="c_title"> HELP CENTER </h6></div>
        <div class="col-md-4">
          <div class="box_6">
            <img src="assets/images/browse_img/ticket1.webp" class="icons_a">
            <p>Solve any questions about the <b>booking process</b></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box_5">
            <img src="assets/images/browse_img/env2.webp" class="icons_a">
            <p>Use our <b>live chat</b> to instantly contact our team</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box_6">
            <img src="assets/images/browse_img/qun2.webp" class="icons_a">
            <p>Search through the <b>frequently asked questions</b> 
            </p>
          </div>
        </div>
        <div class="col-md-12"><a href="#" class="c_visit"> Visit Our Help Center</a></div>
      </div>
    </div>
  </section>
  
  
  <section class="contact_us_a">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="content-sub-heading mb-4">Contact us</h2>
            <h4 class="top-margin-sm">Email us</h4>
  
            <form>
              <div class="form-group">
                <label for="name">Name*</label>
                <input type="email" class="form-control rounded-0" id="name" name="name">
              </div>
              <div class="form-group">
                <label for="email">Email*</label>
                <input type="email" class="form-control rounded-0" id="email" name="email">
              </div>
              <div class="form-group">
                <label for="Reason">Reason for your enquiry *</label>
                <select class="form-control rounded-0" id="Reason">
                  <option>Please Select</option>
                  <option>New Booking</option>
                  <option>Existing Booking</option>
                </select>
              </div>
              <div class="form-group">
                <label for="comment">Comment*</label>
                <textarea class="form-control rounded-0" id="comment" name="comment" rows="5"></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-lg rounded-0">Send Email</button>
            </form>
          </div>
        </div>
    </div>
  </section>
  
  
  <section class="contact_info1">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="blue_box">
              <div class="hedd">
                <div class="cc_icon float-left">
                  <img src="assets/images/browse_img/xcall-icon.webp">
                </div>
                <div class="float-right top_c_i">
                  <h3>Call Us</h3>
                </div>
              </div>
              <div class="content_c">
                <p><a href="#">+44 1293 874 920</a><br> 8am-8pm Everyday (GMT) </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blue_box">
              <div class="hedd">
                <div class="cc_icon float-left">
                  <img src="assets/images/browse_img/xlocation-icon.webp">
                </div>
                <div class="float-right top_c_i">
                  <h3>Write to us</h3>
                </div>
              </div>
              <div class="content_c">
                <p><a href="#">Suite 9C, Gatwick House<br>
                  Peeks Brook Lane, Horley<br>
                  RH6 9ST, Surrey, United Kingdom</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blue_box">
              <div class="hedd">
                <div class="cc_icon float-left">
                  <img src="assets/images/browse_img/whatsapp_icon.png" width="45px">
                </div>
                <div class="float-right top_c_i">
                  <h3>WhatsApp us</h3>
                </div>
              </div>
              <div class="content_c">
                <p> Scan the QR code to contact us using WhatsApp or use the number below<a href="#">+447726158682</a></p>
              </div>
            </div>
  
          </div>
        </div>
    </div>
  </section>
<app-footer></app-footer>
