
<app-header></app-header>
<section class="multi-stop">
    <div class="container">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <h2 class="thin-text"><span class="bold-darkblue-text">BEST FARE FINDER</span><br>
             <span class="bold-white-text"><b>FIND CHEAP AIR TICKETS FASTER</b></span></h2>
             <p class="biggerp_gfd">Use Alternative Airline's Best Fare Finder to search and buy the cheapest flights in one simple, secure transaction.</p>
          </div>
       </div>
    </div>
</section>
<!--/section1-->


 <section class="multi_city">
    <div class="container">
       <div class="row">
          <div class="col-md-10 offset-md-1">
             <p class="biggerp">Alternative Airlines provides a Best Fare Finder so you can find the cheapest days to purchase tickets around the time that you want to fly. If you’re <b>more interested in finding the cheapest ticket than you are in flying on a specific&nbsp;date or time</b> you travel, Best Fare Finder is for you.</p>

             <img src="assets/images/bestfares_icons.png" class="mb-5">

             <p class="biggerp">Best Fare Finder allows you to see the <b>cheapest time to fly</b> across a week from your original search so that you can quickly and easily see the cheapest time to fly.</p>

             <p class="biggerp">The Best Fare Finder uses&nbsp;shows you the best time for you to fly on your chosen route for cheap tickets. Here's how you do it...</p>
           
          </div>
       </div>
    </div>
 </section>
 <!--/section1-->


 <section class="multi_flight">
    <div class="container">
       <div class="row">
          <div class="col-md-10 offset-md-1">
             <h2 class="thin-text2"><span class="thin-how">CHEAPEST FARE FINDER</span></h2><br>

             <h3 class="steps" >STEP <b>1</b></h3>
             <p class="biggerp">Simply use the <b>search bar</b> above to select your preferred flight and choose a date around the time you wish to travel.</p>
             <br>
             <img src="assets/images/step1_bestfares.jpg" class="img-step">

             <h3 class="steps" >STEP <b>2</b></h3>
             <p class="biggerp">Select the <b>Best Fare Finder button</b>, underneath the heading "Cheapest Time to Fly?". This button may show you how much money you could save by altering your date of travel.</p>
             <br>
             <img src="assets/images/step2_bestfares.jpg" class="img-step">

             <h3 class="steps" >STEP <b>3</b></h3>
             <p class="biggerp">The Best Fare Finder will highlight and show you the <b>cheapest tickets</b>&nbsp;around these dates.</p>
             <br>
             <img src="assets/images/step3_bestfares.jpg" class="img-step">
             <img src="assets/images/step3.2_bestfares.jpg" class="img-step">

             <h3 class="steps" >STEP <b>4</b></h3>
             <p class="biggerp">If you’re happy with your Best Fare Finder flights, you can <b>book them straightaway</b> with Alternative Airlines in one quick, <b>easy and secure transaction</b>.</p>
             <br>
             <img src="assets/images/step4_bestfares.jpg" class="img-step">
          </div>
       </div>
    </div>
 </section>
<app-footer></app-footer>