
      <!--footer-->
      <footer class="footer-sec">
        <div class="container">
           <div class="row">
              <div class="col-md-4 col">
                 <p class="social-media">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-whatsapp"></i></a>
                 </p>
              </div>
              <div class="col-md-3 col">
                 <span class="footer-title">BOOK</span>
                 <ul class="foote-list">
                    <li><a href="#">Best Fare Finder</a></li>
                    <li><a href="#">Search &amp; book</a></li>
                    <li><a href="#">Multi search</a></li>
                    <li><a href="#">Group bookings</a></li>
                    <li><a href="#">Currencies</a></li>
                    <li><a href="#">Ways to pay</a></li>
                    <li><a href="#">Online check-in</a></li>
                 </ul>
              </div>
              <div class="col-md-3 col">
                 <span class="footer-title">ABOUT</span>
                 <ul class="foote-list">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Airlines we ticket</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Work with us</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Media Centre</a></li>
                 </ul>
              </div>
              <div class="col-md-2 col">
                 <span class="footer-title">HELP</span>
                 <ul class="foote-list">
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">T&amp;Cs</a></li>
                 </ul>
              </div>
           </div>
        </div>
     </footer>
     <div class="f-btm">Text Here</div>