<app-header></app-header>

<!--section2-->
<section class="section2">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="d-flex justify-content-between">
                <img src="assets/images/iata-logo.svg" class="logo7">
                <img src="assets/images/paypal-logo.svg" class="logo7">
                <img src="assets/images/klarna-logo.svg" class="logo7">
                <img src="assets/images/600airlines.svg" class="logo7">
                <img src="assets/images/160currencies.svg" class="logo7">
                <img src="assets/images/feefo-logo.svg" class="logo7">
                <img src="assets/images/safe-secure-logo.svg" class="logo7">
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--/section2-->


 <!--section3-->
 <section class="section3">
    <div class="container">
       <div class="col-md-12">
          <h1 class="b_color fz1">Buy Avianca Flights</h1>
          <h2 class="b_color fz2">Avianca Reservations with Alternative Airlines</h2>
          <h6 class="b_color fz3">Make an Avianca Booking and Find Some Amazing Deals</h6>
          <hr>
          <h6 class="b_color mb-5 mt-5"><b>About</b></h6>
          <div class="p-content">
             <p>Avianca has been the national carrier of Colombia since 1919 and is part of the Synergy Group that incorporates Ocean Air (Brazil) and VIP (Ecuador). The airline is the largest airline in Colombia and second largest in Latin America. With its subsidiaries, Avianca has the most extensive network of destinations in Latin America and is one of the main airlines connectingSouth Americawith the rest of the world. Operating from its hub in Bogotá to over 25 destinations in Colombia, and more than 40destinations in the Americas and Europe. In 2019, the airline is celebratingits 100th anniversary.</p>
             <p>The Colombian carrier is the world's second oldest airline still in operation and is the oldest continuously operating airline in the Western Hemisphere.</p>
             <p>In 2009, Avianca merged with TACA and took on several of its routes and services. This marked one of the biggest airline mergers in history, as TACA was historically one of South America's largest airlines.</p>
             <p>Some of its key direct services to fly to Colombia from London, Munich,Madrid and Barcelona. Alternatively, connections to Colombia can be made through major gateways in the US (Miami, Fort Lauderdale and New York).</p>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Fleet</b></h6>
             <div class="p-content">
                <p>The airlinehas a fleet that is predominantly made up of Airbus aircraft, although it does a number of Boeing, Cessna and Embraer aircraft as well. In total, the airlinehas over 130 aircraft within its fleet and is regularly adding and updating its aircraft.</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Subsidiaries</b></h6>
             <div class="p-content">
                <p><a href="#">Aerogal Avianca Ecuador</a> </p>
                <p><a href="#">Avianca Argentina</a> </p>
                <p><a href="#">Avianca Brasil</a> </p>
                <p><a href="#">Avianca Costa Rica</a> </p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Check-In Information</b></h6>
             <div class="p-content">
                <h5>Online Check-In</h5>
                <p>Passengers have the opportunity to check in for their flight using our online check-in page. From there, click on the airlinelogo which will take you to the Avianca online check-in page. You can use either your reservationcode or your e-ticket number to check-in to your Avianca flight online. Web check-in opens 24 hours before your flight time.</p>
                <h5>Airport Check-In</h5>
                <p>To check-in at the airport, Avianca state that passengers must arrive at the check-in counters at least three hours before theflight if flying internationally and at least one hour before their flight if flying domestically.The airline also gives the option for passengers to check-in using self-service kiosks at the airport. Passengers must simply entertheir details into the self-service kiosk and print their boarding pass at the airport. Passengers can check-in on all flights using a self-service kiosk from 24 hours before your flight.</p>
                <p>If flying domestically within Colombia, check-in using the self-service kiosk closes 35 minutes before scheduled flight departure time.If flying domestically within Peru, self-service kiosks are available for check-in up until 45 minutes before scheduled flight departure time.If flying anywhere else, kiosks close one hour before your flight departure time.</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Baggage Allowance</b></h6>
             <div class="p-content">
                <h6><b>Carry-on Baggage</b></h6>
                <p>Passengersare entitled to one item of free carry-on baggage. The baggage must be no larger than 115cm in dimension and be no heavier than 10kg in weight. These rules apply to passengers flying in all classes.</p>
                <h6><b>Checked Baggage</b></h6>
                <p>Passengers in Economy Class are entitled to one item of free checked baggage. Checked baggage must not exceed the dimensions of 158 cm and must be no heavier than 23kg. Those flying in Business Class are entitled to two items of free checked baggage with a maximum combined weight of 32kg. The dimensions of each individual bag must not exceed 158cm.</p>
                <p>Need more baggage? Addextra baggage to your Avianca booking at the time of purchase with Alternative Airlines.</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Speciality Items and Sports Equipment</b></h6>
             <div class="p-content">
                <p>Specific rules and regulations apply to flying with sports equipment. Always check the airline's height and weight regulations before flying with items such as surfboards, golf clubs and bicycles. Bowling equipment, tennis rackets and fishing equipment can be checked onto your Avianca flight at no additional cost if they do not exceed 23kg. Bicycles can be checked (for an additional fee) as long as they weigh less than 32kg and do not exceed 230 lineal cm. For more information on flying with your bicycle please see our FAQ page on "Flying with a Bike."</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Economy Class</b></h6>
             <div class="p-content">
                <p>Economy class is the airline's lowest cost cabin class. You can choose between the Economy Class fares —Super Promo, Econo and Flexi. While the inflight facilities and seating is the same with each fare, passengers do receive other perks when purchasing a higher priced fare, such as seat-pre selection and free cancellations and changes.</p>
                <h6><b>Economy Class Facilities</b></h6>
                <p>Economy Class offers a wide range of inflight entertainment, as well as a breakfast, lunch and dinner menu, depending on the time of the day that you fly.</p>
                <h6><b>Economy Class Seats</b></h6>
                <p>Economy Class offers comfortable seats with legroom. On long-haul flights, a personal TV is fitted to each seat.</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b> Premium Economy</b></h6>
             <div class="p-content">
                <p>The airline doesn't have a Premium Economy Class. Passengers that would like to upgrade from Economy should consider the airlines' Business Class.</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Business Class</b></h6>
             <div class="p-content">
                <p>Passengers who have booked Economy Class have the option to upgrade via Aerovias’ Plusgrade Auction System, or, alternatively, last-minute at the airport if there are seats still available in Business Class.</p>
                <h6><b>Business Class Facilities</b></h6>
                <p>Benefits of traveling as a Business Class passenger include priority boarding, VIP lounges, two pieces of baggage allowance, a special food and drink selection on-board, and priority baggage tagging, so that your baggage will be ready to pick us as soon as possible upon arrival.</p>
                <h6><b>What areBusiness Class Seats Like?</b></h6>
                <p>The comfortable Business seating will recline to a sleeping position, and personal touch screen TV’s are provided. Amenities also include a pillow and blanket, shoe bags, travel kit, plenty of storage space, seat and light controls, USB port, and international plug.</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>First Class</b></h6>
             <div class="p-content">
                <p>The airline doesn't have a First Class cabin. Business Class is the airlines' highest-tier of cabin class.</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>In-flight Services</b></h6>
             <div class="p-content">
                <h6><b>In-flight Entertainment and Wifi</b></h6>
                <p>The airline provides individual TVs on some of their aircraft where films, TV programmes, music and flight map can be found. However, for the aircraft do not have this service, The airline also has an app, called ‘Avianca Entertainment’ which can be downloaded to passengers personal mobiles, computers or tablets where the same entertainment can be accessed. The airline provides power outlets for passengers to charge their personal devices. This service is not available on Airbus A318 or Embraer 190 Aircraft.Passengers can enjoy high-speedWiFi, withprices displayedto them once connected to their network, where passengers can choose their payment option.</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Airport Hub</b></h6>
             <div class="p-content">
                <div class="text-center"><img src="assets/images/Airport.jpg"> </div>
                <br><br>
                <h6><b>El Dorado International Airport (BOG)</b></h6>
                <p>El Dorado International Airport is the airport hub for Avianca. The airline has been based at El Dorado international since 1998. With El Dorado International, the Colombian carrier is able to offer its passengers a fantastic gateway to domestic destinations within Colombia, as well as international destinations to other parts of South America, Central and North America and Europe. Located in west Bogota, El Dorado International Airport opened in 1959. The airport is split into two main airports — Terminal 1 and Terminal 2.</p>
                <p>Terminal 1 is the main terminal at El Dorado International for international flights, as well as serving a number of domestic services too. In total, Terminal 1 serves over 70 routes from Bogota. The terminal has an array of different retail shops, with duty-free, a selection of restaurants and the popular Colombian coffee shop Juan Valdez Café. Avianca uses Terminal 1 for both domestic and international.</p>
                <p>Terminal 2 is mainly used for domestic flights. With considerably less passenger traffic than Terminal 1, Terminal 2 has around half fewer shops, restaurants and coffee shops. Avianca uses Terminal 2 to connect its passengers to different destinations within Colombia, including Armenia, Cartagena, Medellin, San Andrés and many other domestic cities within the country. Other airlines that fly from the airport include Wingo, Avior Airlines,Satena, Líneas Aéreas Suramericanas and Copa.</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Route Map</b></h6>
             <div class="p-content">
                <p></p>
                <div class="text-center"><img src="assets/images/Route_Map.jpg"> </div>
                <br><br>
                <p></p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Popular Routes</b></h6>
             <div class="p-content">
                <p class="text-center">Bogota <img src="assets/images/Plane_icon.png"> Cartagena</p>
                <p class="text-center">Bogota <img src="assets/images/Plane_icon.png"> Santa Marta</p>
                <p class="text-center">Bogota <img src="assets/images/Plane_icon.png"> San Andres</p>
                <p class="text-center">Bogota <img src="assets/images/Plane_icon.png"> Leticia</p>
                <p class="text-center">Bogota <img src="assets/images/Plane_icon.png"> Madrid</p>
                <p class="text-center">Bogota <img src="assets/images/Plane_icon.png"> Miami</p>
                <p class="text-center">Bogota <img src="assets/images/Plane_icon.png"> Boston</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Alternative Airlines</b></h6>
             <div class="p-content">
                <p> <img src="assets/images/tam_logo.gif"> <img src="assets/images/LATAM_Airlines_logo.jpg"> <img src="assets/images/copa_airlines_logo.jpg"> </p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Direct Flights</b></h6>
             <div class="p-content">
                <p>The airline offers a number of direct flights from Bogotà to international destinations outside of South America. Here's a list of which countries that the airlineoffers direct flights to in each continent.</p>
                <br>
                <h6><b>Europe</b></h6>
                <ul class="ltp">
                   <li>Barcelona</li>
                   <li>Florencia</li>
                   <li>London</li>
                   <li>Madrid</li>
                </ul>
                <br>
                <h6><b>North America</b></h6>
                <ul class="ltp">
                   <li>Boston</li>
                   <li>Fort Lauderdale</li>
                   <li>Miami</li>
                   <li>New York</li>
                   <li>Orlando</li>
                   <li>Washington</li>
                </ul>
                <br>
                <h6><b>Central America</b></h6>
                <ul class="ltp">
                   <li>Cancun</li>
                   <li>Guatemala</li>
                   <li>Mexico City</li>
                   <li>Panama</li>
                   <li>Punta Cana</li>
                   <li>San Juan</li>
                   <li>Santo Domingo</li>
                </ul>
                <br>
                <h6><b>Asia and Australia</b></h6>
                <p>The airlinedoesn't currently fly from Bogota to any destinations in Asia or Australia.</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Destinations</b></h6>
             <div class="p-content">
                <h5 class="text-center"><b>Domestic Destinations</b></h5>
                <div class="col-md-6 offset-md-3">
                   <table class="table-sec">
                      <tbody>
                         <tr>
                            <td>Armenia</td>
                            <td>Barrancabermeja</td>
                            <td>Barranquilla</td>
                            <td>Bucaramanga</td>
                         </tr>
                         <tr>
                            <td>Cúcuta</td>
                            <td>Florencia</td>
                            <td>Ibagué</td>
                            <td>Leticia</td>
                         </tr>
                         <tr>
                            <td>Manizales</td>
                            <td>Medellin</td>
                            <td>Montería</td>
                            <td>Neiva</td>
                         </tr>
                         <tr>
                            <td>Pasto</td>
                            <td>Pereira</td>
                            <td>Popayán</td>
                            <td>Riohacha</td>
                         </tr>
                         <tr>
                            <td>San Andrés Island</td>
                            <td>Santa Marta</td>
                            <td>Tumaco</td>
                            <td>Valledupar</td>
                         </tr>
                         <tr>
                            <td>Villavicencio</td>
                            <td>Yopal</td>
                            <td></td>
                            <td></td>
                         </tr>
                      </tbody>
                   </table>
                   <br><br>
                   <h5 class="text-center"><b>Internatonal Destinations</b></h5>
                   <table class="paleBlueRows">
                      <tbody>
                         <tr>
                            <td>Barcelona</td>
                            <td>Boston</td>
                            <td>Buenos Aires</td>
                            <td>Cancún</td>
                         </tr>
                         <tr>
                            <td>Chicago</td>
                            <td>Fort Lauderdale</td>
                            <td>Guatemala City</td>
                            <td>Guayaquil</td>
                         </tr>
                         <tr>
                            <td>Havana</td>
                            <td>La Paz</td>
                            <td>Lima</td>
                            <td>London</td>
                         </tr>
                         <tr>
                            <td>Los Angeles</td>
                            <td>Madrid</td>
                            <td>Manaus</td>
                            <td>Mexico City</td>
                         </tr>
                         <tr>
                            <td>Miami</td>
                            <td>Montego Bay</td>
                            <td>Montería</td>
                            <td>Montevideo</td>
                         </tr>
                         <tr>
                            <td>Munich</td>
                            <td>Nassau</td>
                            <td>New York City</td>
                            <td>Oranjestad</td>
                         </tr>
                         <tr>
                            <td>Orlando</td>
                            <td>Panama City</td>
                            <td>Phillipsburg</td>
                            <td>Porlamar</td>
                         </tr>
                         <tr>
                            <td>Punta Cana</td>
                            <td>Quito</td>
                            <td>Rio de Janeiro</td>
                            <td>San José</td>
                         </tr>
                         <tr>
                            <td>San Juan</td>
                            <td>San Salvador</td>
                            <td>Santa Cruz</td>
                            <td>Santiago</td>
                         </tr>
                         <tr>
                            <td>Santo Domingo</td>
                            <td>Säo Paulo</td>
                            <td>Washington D.C</td>
                            <td>Willemstad</td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Book Avianca Flights in English English</b></h6>
             <div class="p-content">
                <p>Book your Avianca flights with Alternative Airlines to be able to book in English. We offer a trusted booking service in English when booking your flights. We want to make the reservation as easy as possible, that's why we allow our customers to book in English and pay in multiple currencies.</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Pay For Flights with PayPal</b></h6>
             <div class="p-content">
                <p>Buy your Avianca airline tickets with PayPal and Alternative Airlines. All you need is your email address and password to remember your login and pay for tickets with PayPal!</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Discounts and Deals</b></h6>
             <div class="p-content">
                <p>Pay with PayPal and get an Avianca ticket discount with Alternative Airlines. There are many flight vouchercodes and PayPal promo codes to choose from and use on airline tickets. Save with a PayPal promo code!</p>
             </div>
             <hr>
             <h6 class="b_color mb-5 mt-5"><b>Bogota Travel Guide</b></h6>
             <div class="p-content">
                <p>Flying to Bogotà with Avianca? Take a read at our local's guide to Colombia's capital city to prepare you for your trip!</p>
             </div>
          </div>
          <!--/p-content-->
       </div>
       <!--/col-md-12-->
    </div>
 </section>
 <!--/section3-->

 <app-footer></app-footer>