<app-header></app-header>
<section class="reserve1">
    <div class="container">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <h2 class="thin-t"><br>
                <span class="bold-lightblue-text">Reserving Seats</span><br>
                <span class="bold-white-text"><b>On Your Alternative Airlines Flight</b></span>
             </h2>
             <p class="light-white-text">Whether you love sitting by the window, or just need a bit of extra legroom, buying a seat can really transform your inflight experience. Here, we answer some of your frequently asked questions about seat reservation and show you how to <a href="#">book a seat onto your Alternative Airlines flight</a> or <a href="#">after the purchase via the Account section</a>.</p>
          </div>
       </div>
    </div>
 </section>

 <section class="s_bookn">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h2 class="thin-t"><br>
                <span class="bold_st">SEAT</span> 
                <span class="bold_faq"><b>BOOKING FAQS</b></span>
             </h2><br>
             <p class="text-center"><img src="assets/images/Seat-reservation.jpg" class="seat_r"></p>
          </div>

          <div class="col-md-12">
             <br><br>
             <h2 class="bigc"><b>Is it worth pre-booking my airline seat?</b></h2>
             <p class="s_content">A lot of people wonder if it's worth pre-booking an airline seat, but the truth is that reserving the seat you want ahead of time can really enhance your inflight experience. For those who need extra legroom, reserving <strong>exit row seats</strong> can give you that much-needed&nbsp;space to stretch your legs.&nbsp;There's also evidence to suggest sitting by <strong>window </strong> can help ease a fear of flying. If you've booked a flight with a <a href="#">short layover</a>, sitting at the <strong>front left</strong> of the plane can mean a speedy exit for the next leg of your journey. Not to mention the peace of mind you get from knowing you've booked to sit with the rest of your group.</p>
          </div><!--/col-md-12-->

          <div class="col-md-12">
             <br><br>
             <h2 class="bigc"><b>Can an airline sit a child away from a parent?</b></h2>
             <p class="s_content">According to the UK Civil Aviation Authority, airlines should "aim" to seat parents and guardians next to the&nbsp;children in their care. If this isn't possible, they should be a maximum of one row apart. Unfortunately, however, there are no guarantees. Each individual airline will also have its own policy. The easyjet&nbsp;website explains that if parents are not pre-booking seats, they should check in as early as possible to guarantee sitting together. For most airlines, seats are allocated on a first come first served basis.&nbsp;In the United States, since the&nbsp;Federal Aviation Administration bill came into force in 2017, airlines are&nbsp;required <strong>by law</strong> to seat <a href="#">families</a> together at no extra cost. For more information and helpful tips&nbsp;on air travel with kids, please visit our guide to "<a href="#">Flying with Children</a>."</p>
          </div><!--/col-md-12-->

          <div class="col-md-12">
             <br><br>
             <h2 class="bigc"><b>Can I book two airline seats for myself?</b></h2>
             <p class="s_content">Sometimes you may need to purchase an extra seat if you are transporting a piece of baggage that cannot be checked into the hold or if your physical build prevents you from sitting comfortably in a standard sized seat. In this case, a passenger should book two airline tickets and fill in this information on the "Seat, Meal and Special Assistance" section of the passenger details page. For more information on reserving additional seats and to find out more about individual airline&nbsp;policies, please visit our "<a href="#">Passenger Services</a>" page.&nbsp;</p>
          </div><!--/col-md-12-->

          <div class="col-md-12">
             <br><br>
             <h2 class="bigc"><b>Do you have to pay for airline seats?</b></h2>
             <p class="s_content">Yes, when reserving your preferred seat you will normally have to pay an additional fee. Certain seats, such as those offering greater legroom, may be more costly than others. You can also add this fee to your booking when choosing to pay for your flights in monthly installments with either <a href="#">Fly Now Pay Later</a>, Affirm, Klarna or PayPal Credit. Alternatively, you can choose another of our 25 <a href="#">ways to pay</a>.</p>
            <p class="s_content">When reserving a seat in your booking, the fee will also be discounted within the final ticket price at checkout when you apply one of the <a href="#">promo code offers</a> available. Note that this is only applicable when paying with PayPal or PayPal Credit.</p>
          </div><!--/col-md-12-->

          <div class="col-md-12">
             <br><br>
             <h2 class="bigc"><b>How can I sit together with the rest of my group?</b></h2>
             <p class="s_content">Sitting with the rest of your group can really help to improve your flight experience. Reserving seats ahead of time is the best way to ensure that you and your friends or family are sat together. If pre-booking a seat for each member of your party is not possible, then checking in early is one of the best options for ensuring you will be sat with the rest of your group. If you do not pre-book seats for your group, you may have to rely on the kindness of other passengers to swap seats in order to sit together. To find out more about traveling in a group, please visit our "<a href="#">Group Bookings</a>" page.</p>
          </div><!--/col-md-12-->

          <div class="col-md-12">
             <br><br>
             <h2 class="bigc"><b>Can I choose to purchase a seat after my initial booking?</b></h2>
             <p class="s_content">Yes, although you can purchase a seat at the time of booking, if you decide not to and later change your mind, you can add on a reserved seat to your booking. This can be done via the Account section. If you are looking to add on a seat to your booking, please see the how-to guide below for step-by-step instructions of how to do this. Please note that the availability of doing this will depend on the airline that you are flying with, as not all airlines currently offer the ability to pre-book a seat on the plane.</p>
          </div><!--/col-md-12-->
       </div>
    </div>
 </section>

 <section class="air_seat2">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h2 class="sdgs">How to book<br>
             <b>Your Airline seat when purchasing flight tickets</b></h2>
          </div>
          <div class="col-md-10 offset-md-1">
             <h3 class="step_x">STEP <span class="light-dark-blue-text"> <b>1</b></span></h3>
             <p class="step_x">Enter the flight you wish to purchase into the Alternative Airlines search bar.&nbsp;</p>
             <p class="step_x"><img src="assets/images/Flight_selection-min1.jpg" class="b_step" width="100%"></p>
          </div>
          <div class="col-md-10 offset-md-1">
             <h3 class="step_x">STEP <span class="light-dark-blue-text"> <b>2</b></span></h3>
             <p class="step_x">Browse flights and click "Confirm Selection" when you find the flight you wish to purchase.</p>
             <p class="step_x"><img src="assets/images/Step_2_Confirm_Flight_Selection-min1.jpg" class="b_step" width="100%"></p>
          </div>
          <div class="col-md-10 offset-md-1">
             <h3 class="step_x">STEP <span class="light-dark-blue-text"> <b>3</b></span></h3>
             <p class="step_x">Scroll down on the passenger details page and click on the "Select your seat" button.</p>
             <p class="step_x"><img src="assets/images/Select_your_seat-min1.jpg" class="b_step" width="100%"></p>
          </div>
          <div class="col-md-10 offset-md-1">
             <h3 class="step_x">STEP <span class="light-dark-blue-text"> <b>4</b></span></h3>
             <p class="step_x">Click on your preferred seat on the interactive map.</p>
             <p class="step_x"><img src="assets/images/Seat_Selection-min1.jpg" class="b_step" width="100%"></p>
          </div>
          <div class="col-md-10 offset-md-1">
             <h3 class="step_x">STEP <span class="light-dark-blue-text"> <b>5</b></span></h3>
             <p class="step_x">Confirm your purchase at checkout.</p>
             <p class="step_x"><img src="assets/images/Seat_checkout-min.jpg" class="b_step" width="100%"></p>
          </div>
       </div>
    </div>
 </section>

    <section class="air_seat3">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h2 class="sdgs">HOW TO BOOK<br>
             <b>YOUR AIRLINE SEAT ON MY ACCOUNT</b></h2>
          </div>
          <div class="col-md-10 offset-md-1">
             <h3 class="step_x">STEP <span class="light-dark-blue-text"> <b>1</b></span></h3>
             <p class="step_x">Locate the account section on our website, by clicking the ‘Login/Register’ button on the top right corner on any page on our website. Log in or sign up to your account using your chosen device. If you need help with this step, please look at our guide for using the account section.</p>
          </div>
          <div class="col-md-10 offset-md-1">
             <h3 class="step_x">STEP <span class="light-dark-blue-text"> <b>2</b></span></h3>
             <p class="step_x">Once you are logged in and are viewing the dashboard, navigate to the ‘Seat selection’ tab.</p>
             <p class="step_x"><img src="assets/images/1_My_Account_dashboard_highlight_seat_selection.jpg" class="b_step" width="100%"></p>
          </div>
          <div class="col-md-10 offset-md-1">
             <h3 class="step_x">STEP <span class="light-dark-blue-text"> <b>3</b></span></h3>
             <p class="step_x">You will then see your upcoming flights, with the green tab showing ‘No Seat Selected’</p>
             <p class="step_x"><img src="assets/images/2_my_account_upcoming_flights.jpg" class="b_step" width="100%"></p>
          </div>
          <div class="col-md-10 offset-md-1">
             <h3 class="step_x">STEP <span class="light-dark-blue-text"> <b>4</b></span></h3>
             <p class="step_x">Click on the flight to get a drop down of your flight details, and click on the ‘Select your seat’ button.</p>
             <p class="step_x"><img src="assets/images/3_flight_details_no_seats.jpg" class="b_step" width="100%"></p>
          </div>
          <div class="col-md-10 offset-md-1">
             <h3 class="step_x">STEP <span class="light-dark-blue-text"> <b>5</b></span></h3>
             <p class="step_x">You will now be able to view the seat map, including the seats that are available and their features and price. Simply click on the seat to select your preferred seat. If you have a return flight you will have to select the seat for each leg of the journey, so click ‘Next Flight’ to move to the return journey.</p>
             <p class="step_x"><img src="assets/images/4_seat_selection_map.jpg" class="b_step" width="100%"></p>
          </div>
          <div class="col-md-10 offset-md-1">
             <h3 class="step_x">STEP <span class="light-dark-blue-text"> <b>6</b></span></h3>
             <p class="step_x">You’ll then see your flight details with the selected seats. Click on the ‘Make Payment’ button to enter your payment details under the payment window.</p>
             <p class="step_x"><img src="assets/images/5_flight_details_seats_selected_payment.jpg" class="b_step" width="100%"></p>
          </div>
          <div class="col-md-10 offset-md-1">
             <h3 class="step_x">STEP <span class="light-dark-blue-text"> <b>7</b></span></h3>
             <p class="step_x">Once paid for, your seats will show in your flight details as highlighted in the screenshot below.</p>
             <p class="step_x"><img src="assets/images/6_seats_confirmed.jpg" class="b_step" width="100%"></p>
          </div>
          
       </div>
    </div>
 </section>
<app-footer></app-footer>
