<app-header></app-header>

<div class="path1">
    <div class="container">
      <div class="col-md-12"><span class="home_path"> <a href="#">Home</a> > Airlines we can ticketAirlines we can ticket</span></div>
    </div>
</div>
<section class="airlines">
    <div class="container">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <h2 class="text-center mb-5"><img src="assets/images/flight_air.webp"></h2>
             <h2 class="text-center text-white">AIRLINES WE CAN TICKET</h2>
             <p class="p-content">CHOOSE TO FLY WITH 600+ AIRLINES FROM AROUND THE WORLD</p>
          </div>
       </div>
    </div>
</section>
<!--/section1-->

<section class="airlines2">
    <div class="container">
       <div class="row">
          <div class="col-md-6 offset-md-3">
             <div class="a_2_z">
               <a href="#">A</a>
               <a href="#">B</a>
               <a href="#">C</a>
               <a href="#">D</a>
               <a href="#">E</a>
               <a href="#">F</a>
               <a href="#">G</a>
               <a href="#">H</a>
               <a href="#">I</a>
               <a href="#">J</a>
               <a href="#">K</a>
               <a href="#">L</a>
               <a href="#">M</a>
               <a href="#">N</a>
               <a href="#">O</a>
               <a href="#">P</a>
               <a href="#">Q</a>
               <a href="#">R</a>
               <a href="#">S</a>
               <a href="#">T</a>
               <a href="#">U</a>
               <a href="#">V</a>
               <a href="#">W</a>
               <a href="#">X</a>
               <a href="#">Y</a>
               <a href="#">Z</a>
             </div>
          </div>
       </div>
    </div>
</section>
<!--/section2-->

    <section class="airlines2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="az1">A</p>
          </div><!--/col-md-12-->

          <div class="col-md-10 offset-md-1">
            <div class="row">
              <div class="col col-md-3 text-center">
                <div class="f_tk">
                  <a href="#">
                    <img src="assets/images/adria.webp" width="100%"><br>
                    <small>Adria Airways</small>
                  </a>
                </div>
              </div>
              <div class="col col-md-3 text-center">
                <div class="f_tk">
                  <a href="#">
                    <img src="assets/images/adria.webp" width="100%"><br>
                    <small>Adria Airways</small>
                  </a>
                </div>
              </div>
              <div class="col col-md-3 text-center">
                <div class="f_tk">
                  <a href="#">
                    <img src="assets/images/adria.webp" width="100%"><br>
                    <small>Adria Airways</small>
                  </a>
                </div>
              </div>
              <div class="col col-md-3 text-center">
                <div class="f_tk">
                  <a href="#">
                    <img src="assets/images/adria.webp" width="100%"><br>
                    <small>Adria Airways</small>
                  </a>
                </div>
              </div>
            </div>
          </div><!--/col-md-10 offset-md-1-->
        </div><!--/row-->

        <div class="row">
          <div class="col-md-12">
            <p class="az1">B</p>
          </div><!--/col-md-12-->

          <div class="col-md-10 offset-md-1">
            <div class="row">
              <div class="col col-md-3 text-center">
                <div class="f_tk">
                  <a href="#">
                    <img src="assets/images/adria.webp" width="100%"><br>
                    <small>Adria Airways</small>
                  </a>
                </div>
              </div>
              <div class="col col-md-3 text-center">
                <div class="f_tk">
                  <a href="#">
                    <img src="assets/images/adria.webp" width="100%"><br>
                    <small>Adria Airways</small>
                  </a>
                </div>
              </div>
              <div class="col col-md-3 text-center">
                <div class="f_tk">
                  <a href="#">
                    <img src="assets/images/adria.webp" width="100%"><br>
                    <small>Adria Airways</small>
                  </a>
                </div>
              </div>
              <div class="col col-md-3 text-center">
                <div class="f_tk">
                  <a href="#">
                    <img src="assets/images/adria.webp" width="100%"><br>
                    <small>Adria Airways</small>
                  </a>
                </div>
              </div>
            </div>
          </div><!--/col-md-10 offset-md-1-->
        </div><!--/row-->

        <div class="row">
          <div class="col-md-12">
            <p class="az1">C</p>
          </div><!--/col-md-12-->

          <div class="col-md-10 offset-md-1">
            <div class="row">
              <div class="col col-md-3 text-center">
                <div class="f_tk">
                  <a href="#">
                    <img src="assets/images/adria.webp" width="100%"><br>
                    <small>Adria Airways</small>
                  </a>
                </div>
              </div>
              <div class="col col-md-3 text-center">
                <div class="f_tk">
                  <a href="#">
                    <img src="assets/images/adria.webp" width="100%"><br>
                    <small>Adria Airways</small>
                  </a>
                </div>
              </div>
              <div class="col col-md-3 text-center">
                <div class="f_tk">
                  <a href="#">
                    <img src="assets/images/adria.webp" width="100%"><br>
                    <small>Adria Airways</small>
                  </a>
                </div>
              </div>
              <div class="col col-md-3 text-center">
                <div class="f_tk">
                  <a href="#">
                    <img src="assets/images/adria.webp" width="100%"><br>
                    <small>Adria Airways</small>
                  </a>
                </div>
              </div>
            </div>
          </div><!--/col-md-10 offset-md-1-->
        </div><!--/row-->
      </div><!--/container-->
    </section>
<app-footer></app-footer>
